[2017-02-26 16:33] Genestealer opened #1 "AttributeError: 'module' object has no attribute 'REQUIREMENTS'"
Error when trying to run for the 1st time:

[code]

RPi.GPIO is already installed:
[code]

Config file:
[code]

Any ideas?

[2017-02-26 16:36] Genestealer commented on #1
Same error when trying the other example:

Config file:
[code]

Output:
[code]

[2017-02-26 18:13] flyte commented on #1
Looks like you found a bug (or two)!
- I didn't make REQUIREMENTS optional for the modules, and then didn't put it in the stdio module.
- The code makes an assumption that both the `digital_inputs` and `digital_outputs` config sections exist.

These should now be fixed, but I don't have a Pi handy for testing it out.

Please let me know of any further issues :)

[2017-02-26 18:20] flyte commented on #1
Closing the bug for now, as I've tested it superficially without the `raspberrypi` module. I may endeavour to tidy this project up a bit if someone else is actually using it :)

[2017-02-26 18:20] #1 closed

[2017-02-26 18:22] flyte commented on #1
I also forgot to mention that I've just pushed a new version (0.0.3) including this fix. You should now be able to do a `pip install --upgrade pi-mqtt-gpio`

[2017-05-01 19:04] dr-apple opened #3 "Why can i not use topic_prefix: /device/pi ?"
Why can i not use topic_prefix: /device/pi ?

The / in the  topic_prefix: /device/pi  dosen't work... it every device/pi :-(

[2017-05-02 09:37] flyte commented on #3
Because of this line: https://github.com/flyte/pi-mqtt-gpio/blob/develop/pi_mqtt_gpio/server.py#L56

I wasn't aware that topics with a leading slash were valid. If that is the case, then I'll change the .strip() to an .rstrip()

[2017-05-17 12:39] flyte commented on #3
That ought to have done the trick. Please don't hesitate to update this ticket if it hasn't.

[2017-05-17 12:39] #3 closed

[2017-05-21 18:22] dr-apple opened #4 "PWM"
Hello,

it works all very good, thanks for your script...

Could you still install PWM for all GPIO?

[2017-05-21 18:23] dr-apple commented on #3
Thank you very much !

[2017-06-13 16:13] flyte commented on #4
I certainly can. I'll have a think about how to implement it and get it done when I've got a little time to spare.

[2017-06-13 16:15] flyte opened #5 "Use interrupts where possible."
Polling sucks. The logical next step is to implement a module interface for interrupts using callbacks perhaps. This is an Issue to remind myself, or if somebody else fancies taking it on, PRs are welcome!

[2017-06-15 14:30] dr-apple commented on #4
Perfectly thank you, you can also times times whether you can speed up the input of an input? It takes about 1 second until the change is recognized :-( This is too slow at a pushbutton ....

[2017-06-15 16:54] flyte commented on #4
Yep, it's on the list - see #5 :)

[2017-06-28 05:22] dr-apple commented on #5
Hello to make it faster : change the sleep(0.05) to sleep(0.02) ;-)

[2017-07-01 18:58] dr-apple opened #6 "Problem with PCF8574"
Here my problem:

[code]

[2017-07-02 21:01] Paul-dH opened #7 "Question: Multiple output statements"
Hi,

Thanks for writing this module! This makes life a lot easier and was exactly what I was looking for :)

At the moment I'm writing a small how-to on fully deploying a Pi with 4 realys and connecting them to Home Assistant (for automating a ceiling fan).

My question is: Is it possible to create a config file containing multiple output statements? Like speed-1, speed-2, speed-3, lights. Or shou

[2017-07-03 10:52] flyte commented on #6
Could you try:
[code]
and running it again?

[2017-07-03 11:00] flyte commented on #7
Hi, you're very welcome and I'm glad it's useful for you!

I'm not 100% sure I understand your setup, but I'll try answering anyway. To configure it for multiple digital outputs, you can use one `digital_output` section and list each output under it, something like this:

[code]

Then a publish to `bedroom/ceiling-fan/speed-1` with payload of `ON` should turn on pin 17, and a publish to `bedroom/c

[2017-07-03 16:57] Paul-dH commented on #7
Thanks for the answer! The topics posted on the commandline after the server start seems right. I'll keep you posted about the how-to, still figuring out how to get mqtt and Home Assistant to play nicely together :grin:

[2017-07-03 16:57] #7 closed

[2017-07-03 17:22] flyte commented on #7
Excellent. Good luck!

[2017-07-03 17:23] Paul-dH opened #8 "Feature request"
Hi @flyte

Is it possible to add the options to provide a protocol and a websocket port? Home Assistant requires these to function :)

Below is a example of the defaults that should be entered in a config [Link](https://home-assistant.io/docs/mqtt/broker/)

[code]

[2017-07-03 20:47] Paul-dH commented on #8
Sorry, this issue can be closed. I had to follow numerios tutorials to get a working situation, but this had nothing to do with the code.

I'll do have a cool new feature request btw (for relays to require pins to be in off state before putting the called relay in on state)

Regards, Paul

PS: Sorry for the spam :sweat_smile:

[2017-07-03 20:47] #8 closed

[2017-07-03 20:58] flyte commented on #8
No probs. I did have a quick look at this and I wasn't sure what you were getting at :)

[2017-07-04 07:09] Paul-dH opened #9 "Feature request:"
Hi @flyte,

Is it possible to add something like this:

[code]

The reason for this is that I'm using 3 relays for 3 speeds of a ceiling fan. When speed-1 is on and speed-2 is started the pin for speed-1(17) should first be disabled before the pin of speed-2(18) is enabled. Else there are two relays in ON state and I guess the fan won't like this.

Or is there a better way to do this?

Thanks agai

[2017-07-04 08:39] flyte commented on #9
I expect implementing an `exclusive_on` and `exclusive_off` might do the trick. Each list can contain a list of output names which must be switched on/off before the pin is changed.

For example:
[code]

I'd need to think about how to avoid conflicting exclusivity when using `exclusive_on` AND `exclusive_off`, but this approach may work.

[2017-07-04 15:11] Paul-dH commented on #9
Yes I think we're on the same page here. Maybe require_on or off gives the option a better understanding, but it's just the name. The option to give a requirement of a section being in off state is indeed more clear than just the pin.
Maybe I can help somewhere needed?
Regards, Paul

[2017-07-05 10:17] meifi opened #10 "Toggle output"
Hello,

i use some pcf8574 from horter (http://www.horter.de/i2c/i2c-output-modul/i2c-output-modul-Beschreibung.html) to controll surge relays.

It is possible to add a function to the options with witch we can activate a automatic reset of the port? When i set port 1 to ON and the value "TOGGLE" is activated in the config the port reset it selfs after x MS to OFF autmaticly.

thanks

[2017-07-05 12:12] flyte commented on #10
Just so I'm clear, do you mean to turn the output on for x milliseconds and then return to its previous state? If so, I think the implementation might be best done with a publish to `.../set_ms` or similar, instead of `.../set`. Would that suit you?

[2017-07-06 08:28] meifi commented on #10
hi flyte,

yes it woud be perfect if we can publish to /set to set the output ON oder OFF until the next publish and when publish to /toggle the output set for x MS to ON and reset to the previous state . so we can set the MS for the toggle in the config file. It is also posible to publish the MS value to /toggle_ms as payload.

what do you think is easier to implementate?

[2017-07-06 08:40] flyte commented on #10
I think perhaps `/set_on_ms` and `/set_off_ms` might be simpler for digital outputs. This way there's only a single value required in the payload.

What do you think about which value they should end up as? If the output is ON already, then we `/set_on_ms` with `1000` as the payload, should the output turn OFF after 1 second, or stay ON, as it was already?

[2017-07-06 12:21] meifi commented on #10
I think it must be the last value. the reason is, that some modules has a invertet logic.

If the output is ON already, then we /set_on_ms with 1000 as payload, the output change for 1000ms to OFF and return to the last value - ON.

[2017-07-07 19:16] Paul-dH opened #12 "GPIO init at boottime"
When the RPI gets a reboot the relay swtiches ON for 0.700ms. I think this has something to do with the server being started.

I've searched on Google what this might be, there are some pins (1-8) that are set to HIGH at boot time, and the rest are set to LOW, documentation is found here (See page 102):
https://www.raspberrypi.org/documentation/hardware/raspberrypi/bcm2835/BCM2835-ARM-Peripherals.

[2017-07-17 12:23] flyte commented on #12
So when you disable this project from launching at boot, the outputs do not switch on? Do they switch on briefly when you run this software manually afterwards?

[2017-07-17 14:45] flyte commented on #10
Reopening as a reminder to update the readme with instructions on using the new feature.

[2017-07-22 09:57] Paul-dH commented on #12
I've done some testing and when I disabled the crontab entry that starts the server the relays stay off. When I start the server manualy you can see that it subscribes to the topics again and all the relays are switched on. When the MQTT server (Home Assistant) is shutdown and unreachable the server on the Pi generates a error (see below) and all relays are switched on again.

`pi@fan-1:~ $ sudo /

[2017-07-25 10:27] CWempe opened #13 "No such file or directory: 'config.schema.yml'"
I cannot install and start the program.

During install I get a warning that `MANIFEST.in` has an issue.

[code]

When I try to start the server I get this:

[code]

I used these commands to install the program:

[code]

[code]

Any idea what I am doing wrong?

[2017-07-26 08:28] CWempe commented on #13
I found a workaround to get the program running.

[code]

[2017-07-26 08:33] CWempe opened #14 "Payload b'ON' does not relate to configured on/off values"
I cannot send a command via MQTT. :(

It always says `Payload b'*' does not relate to configured on/off values.`

[code]

The MQTT messages seem to be fine.

[code]

Config

[code]

Am I doing something wrong?
Why is there a "b" at the beginning of the value?

[2017-07-26 08:47] CWempe commented on #14
Never mind.
I used the wrong module ``stdio` instead of `raspberrypi`.

[2017-07-26 09:04] CWempe opened #15 "Cannot define digital_outputs with raspberrypi module"
I cannot get the program started wehen I define `digital_outputs` with `raspberrypi` module.

my config:
[code]

Error:

[code]

[2017-07-26 10:06] flyte commented on #13
Ah yes, sorry about that - my fault. Working on a fix now.

[2017-07-26 10:30] flyte commented on #13
@CWempe Please try with version `0.0.8` and reopen the ticket if the issue persists. Thanks for the bug report.

[2017-07-26 10:32] flyte commented on #13
Scratch that - still an issue here. I'll fix this in a different way - stand by.

[2017-07-26 10:48] flyte commented on #13
OK @CWempe please try with version `0.0.9` and reopen if it's still not working for you!

[2017-07-26 10:48] #13 closed

[2017-07-26 11:15] #15 closed

[2017-07-26 11:17] flyte commented on #15
Thanks @CWempe - please try version `0.0.10` and reopen the ticket if it's not fixed.

[2017-07-26 11:27] flyte commented on #12
As far as the inversion of the ON/OFF values goes, this is probably just due to your relays being connected up as 'active low'. You could change the `on_payload` to `"OFF"` and `off_payload` to `"ON"` in order to fix this. That was my intended way of handling inverted logic like this.

It sounds like you may have retained messages on the MQTT server which switch the outputs as soon as this program

[2017-07-26 12:05] CWempe commented on #14
After #13 and #15 were fixed, I retried this.

The issue occures with `raspberrypi`, too.

**config**

[code]

**output**
[code]

[2017-07-26 12:52] flyte commented on #14
Is this using Python 2 or Python 3?

[2017-07-26 12:53] flyte commented on #14
I believe I know why this happens - the old Python 3 string/bytes mismatch. I'll issue a fix shortly. Thanks for another bug report!

[2017-07-26 13:01] flyte commented on #14
@CWempe Please could you try with version `0.0.11` and reopen if it's not fixed. Cheers!

[2017-07-26 13:01] #14 closed

[2017-07-26 13:02] flyte commented on #14
If nothing else, the new log message should provide better information now, if it's not fixed.

[2017-07-26 13:07] CWempe opened #16 "RuntimeWarning: This channel is already in use, continuing anyway"
When I cancel the program with `Ctrl+C` and restart it, I get the following warning:

[code]

I do'#t know if this is causing any problem, but maybe it would make sense to include `GPIO.cleanup()`.
see: http://raspi.tv/2013/rpi-gpio-basics-3-how-to-exit-gpio-programs-cleanly-avoid-warnings-and-protect-your-pi

btw: Is there a better way to exit the program?

[2017-07-26 13:29] flyte commented on #16
You're absolutely right. I've added a cleanup routine to the modules, which is called when the program exits. Please test with version `0.0.12` and reopen if it's not fixed. Thanks!

[2017-07-26 13:29] #16 closed

[2017-07-26 13:30] flyte commented on #16
ctrl+c is a fine way to exit the program :)

[2017-07-26 13:38] CWempe commented on #15
It works!

The `b`is still confusing though. 😉

[code]

[2017-07-26 13:40] CWempe commented on #16
It works, too!

Sorry for opening so much issues.
But great work on fixing them so fast. 👍 😎

[2017-07-26 13:53] flyte commented on #15
Ah yes, it's the way Python 3 declares that it's a string of bytes with an unknown character encoding. It's useful when debugging, but not necessarily helpful to the end user. I may add some logging configuration which will stop it from being quite so verbose.

Glad the issue's fixed!

[2017-07-26 13:56] flyte commented on #16
Excellent!

Don't be at all. I'm in the process of refactoring and adding more/better tests to the project. I'm also thinking about ways to run the tests on actual Raspberry Pis so I can test the modules properly. Until then, myself and the actual users are the best tests we have! I'd much rather know about the issues so I can make the software better for everybody.

[2017-07-26 14:47] CWempe opened #17 "support LWT (Last Will and Testament)"
It would be great if the program would support LWT messages.

see: http://www.hivemq.com/blog/mqtt-essentials-part-9-last-will-and-testament

and also this comment: http://www.hivemq.com/blog/mqtt-essentials-part-9-last-will-and-testament/#comment-44936

[2017-07-26 14:56] flyte commented on #17
Sure, that's a good idea. Does it have to be configurable, or will the following suffice:

- Status topic at `<prefix>/status`
- Publish (retained) on start up: `running`
- Publish (retained) when exiting: `stopped`
- Last will in case of unclean disconnection: `dead`

[2017-07-26 14:56] flyte commented on #17
I guess it's not a big deal to make it configurable, so I'll do that.

[2017-07-28 17:36] flyte opened #18 "Add `inverted` config for digital outputs"
In order to add topic suffixes such as `/set_on_ms` and `/set_off_ms` we need to make sure that 'on' does indeed turn _on_ the device. `/set` has been able to handle this in the past using `on_payload` and `off_payload` but it doesn't cut the mustard for explicit on/off topics.

It makes more sense to just add an `inverted` config value for each digital output so that it can be handled once and fo

[2017-07-28 17:52] flyte commented on #10
@meifi I've added an `inverted` config value for digital outputs which avoids the problem with explicit 'on' and 'off' topic suffixes (See #18) and changed the behaviour of the `/set_on_ms` and `/set_off_ms` topics to always end up in the opposite state.

So for example, a light is ON, you publish to `/set_on_ms` and after the timeout, the light turns OFF.

If the light is OFF to begin with, the l

[2017-07-28 17:52] #10 closed

[2017-07-28 17:53] #18 closed

[2017-07-28 17:55] flyte commented on #17
@CWempe I've added this functionality, so please test with version `0.1.0`. Cheers!

PS. Check the bottom of the readme for config values.

[2017-07-28 17:55] #17 closed

[2017-07-28 22:50] flyte commented on #6
Hey @dr-apple I'm closing this for now as I'm not sure there's an issue here with this project. Please comment back if the problem persists and it looks like I'm wrong.

[2017-07-28 22:50] #6 closed

[2017-07-29 10:07] flyte commented on #12
@Paul-dH by the way, I've just implemented an `inverted` configuration value for digital outputs. Please see the updated readme, which includes a configuration example using `inverted`.

As far as this ticket goes, I'll eventually close it if I don't hear back from you, but please feel free to reply even if it's closed and I may reopen it for you.

[2017-07-31 10:04] Paul-dH commented on #12
Hi @flyte,

Sorry for the late response, I was a bit bussy last week. Thanks for the update, this looks like a good solution and I'll test this today. I'll report back when I've tested everything a couple of times.

[2017-07-31 11:19] ssjha opened #19 "Add local logic to connect inputs to outputs without relying on external control"
hi,
For my home automation project, i was looking for a way to control a set of relays using mqtt (and Openhab). And as an added feature, i wanted to use a switch array (connected to separate GPIOs on my PI zero)  to control these relays. I tried writing my own python program but failed miserably at it. Recently i came across your implementation and tested it. It is working very well in controllin

[2017-07-31 11:55] Paul-dH commented on #12
Hi @flynth,

I've done some testing and wrote down everything below:

- Disabled start command of the server in crontab (relays stayed off)
- Enabled start command of the server in crontab: relays switched on after a while (switches were in OFF state in Home Assistant)
**Crontab entry:**
`*/2 * * * * /usr/bin/python -m pi_mqtt_gpio.server /var/scripts/mqtt-config.yml > /var/scripts/mqtt-server.log

[2017-07-31 12:01] flyte commented on #12
The first thing I'd like to address is that running the program from a crontab is definitely wrong. You're essentially running a new copy of the program (as well as the existing one(s)) every two minutes. You only want to run one instance of the program. You may want to look into [supervisor](http://supervisord.org/) for this (`apt-get install supervisor`).

You say that "after a while" the relays

[2017-07-31 12:20] flyte commented on #19
Hi Sudhansu,

I wrote a whole explanation as to why I don't want to include this in this project, but the more I think about it, the more I'm leaning towards thinking it's a good idea.

**Pros**:
- No reliance on any external service to handle simple local logic
- More responsive

**Cons**:
- Configuration/documentation complication
- Distributed logic - it's much simpler to keep all automation lo

[2017-07-31 16:00] Paul-dH commented on #12
I've disabled cron and installed supervisor. So after a reboot nothing is started yet, supervisor config is still empty. When I start the program the relays still jump on for a milliseccond. The output is below:

[code]

My config is:
[code]

[2017-07-31 18:20] flyte commented on #12
Ah, I think I may know why it's doing it. The pins may be configured as 'pull down', which turns the relays on, but then they receive an MQTT message to turn them off (outputs high). Try adding `pullup: yes` to each of the pin configurations, making them look like this:

[code]

Then see if it does the same thing.

[2017-07-31 20:48] Paul-dH commented on #12
The problem still exists, I've added the `pullup: yes` option and also tried it without the `inverted: yes` parameter.

Below is the output when the server is started:
[code]

Maybe the relays are the problem, I've also read that the power source can be wired seperatly from the RPi.

I really appreciate the time you put in my debugging :), thanks!

[2017-08-01 08:28] ssjha commented on #19
Hi Ellis
Thanks for having a detailed thought about the feature. I understand that implementation will have its complication.

You have listed the pros/cons correctly and I can't think of any additional ones. I believe the primary advantage is with this, the PI module will become a self contained unit and with a small footprint of PI zero/ZeroW, it can be setup as an add-on to the existing control

[2017-08-01 08:40] flyte commented on #19
Something else to think about is the switch debounce. I currently use a
crude method to double check the input but it doesn't scale well if you
have lots of inputs. It would also need to be abstracted and/or have
configurable parameters for each input.

Just dropping this here to remind myself while I'm on my phone.

On 1 Aug 2017 9:28 am, "ssjha" <notifications@github.com> wrote:

[2017-09-27 12:19] bwduncan opened #20 "Not tolerant to connection refused error."
If I reboot my MQTT server pi-mqtt-gpio gets a connection refused error but only tries to reconnect once, then gets stuck. It doesn't exit, so (for example) systemd won't restart it.

What's a nice way to handle this?

[code]

[2017-10-19 09:45] BatGirl26 opened #22 "No data Being sent across"
Now, I'm trying to use your Service, but as of yet, I cannot get it to send data across to the Subscribing service.  I have tested the Publish script I have and I am able to Publish and subscribe using the Normal mosquito Client. But your service is not working to send the data across and turn on the GPIO pins. I'm not getting any error messages and it's just sitting there with the message:
MQTT c

[2017-10-20 08:56] flyte commented on #22
Hi, could you let me know which topics you're publishing to with what payloads, and paste a copy of your config file please?

[2017-10-20 08:57] #20 closed, assigned to nobody

[2017-11-06 21:50] bwduncan opened #23 "outputs pulled low at startup"
It looks like digital outputs are pulled low when the program starts.

This isn't ideal, because it means if I reboot my raspberry pi (there is a power cut, for example) my boiler will fire itself up!

Could there be a "default" setting in the config?

Is it sensible for outputs to be deliberately set OFF on startup?

Happy to provide a pull request for either or both of those, if you think this i

[2017-11-07 10:23] flyte commented on #23
Thanks for the bug report - I'll see if I can sort this out today.

As far as the MQTT part goes, you should be able to set 'retain' to true, which will save the values for those topics and deliver them again every time a subscribed client (re)connects to the server. https://home-assistant.io/components/switch.mqtt/

[2017-11-07 11:14] flyte commented on #23
It seems that the GPIO will return to its previous state when `setup_pin` is called. For example, if the pin was set high, then the software exits (calling `RPi.GPIO.cleanup()`), it will be reset to an input port and go 'low'. Then, when you start the software again and it calls `RPi.GPIO.setup()` for that pin, it'll return to the high state it was at before we called `RPi.GPIO.cleanup()`. The inv

[2017-11-07 11:55] bwduncan commented on #23
Hi, thanks for the quick response!

I think that's expected, the GPIO pins are controlled through a shared memory segment, so all `cleanup` really does is say that the pin is an input. `cleanup` leaves the state bit alone, so `setup` will configure a pin to be an output again and therefore it will restore its previous state.

However that doesn't help if you have just rebooted or power cycled, sin

[2017-11-07 12:53] flyte commented on #23
It does make sense.

I don't think I can, or should, prescribe the use of cleanup and/or any default settings, so I've made them both an option for now. Cleanup is currently per-module (as opposed to per-pin, although that is possible for the RPi.GPIO module at least), and defaults are per-pin.

The default setting, when overriding what happens during `setup()` (returns to high, then default setti

[2017-11-07 15:27] flyte commented on #23
I've got it down to about 7-8us but I can't see a way of reducing it further without the `RPi.GPIO` library making some changes. I've tested it with an 8k pullup resistor and it indeed does not go low after cleanup, so you're right in your assertion that it floats instead. Hopefully this can be mitigated in the application circuits.

![onoff2](https://user-images.githubusercontent.com/1153496/3250

[2017-11-07 15:55] flyte commented on #23
I somehow missed the `initial` parameter to `setup()`! That should fix the pulse issue above. I'll get that implemented now.

[2017-11-07 16:26] #23 closed, assigned to flyte

[2017-11-07 16:29] flyte commented on #23
@bwduncan please try version `0.1.2` and let me know here how it goes!

[2017-11-07 16:33] flyte commented on #12
Hey @Paul-dH I've just released a new version in response to #23 which may hopefully fix these issues for you. You can now set an 'initial' state for each output pin when the software starts. I'll update the readme shortly for config examples.

I'm going to close this for now, as I'm optimistic, but please comment if you're still having problems and I'll reopen it.

[2017-11-07 16:33] #12 closed

[2017-11-07 21:50] bwduncan commented on #23
It works. Thanks very much! 😄

[2017-11-22 17:10] steubens opened #25 "Run at boot time + log location?"
Hello, just wanted to say thank you for creating and sharing this program.  Super easy to use and works well.

**_I want to make sure it runs properly at boot time, and I need to be able to access the logs_.**  What is the best way to accomplish this?  Thanks!

[2017-11-22 17:20] flyte commented on #25
Hey @someinternetguy thanks for saying so! I'm glad it's of use for you.

I tend to use [supervisor](http://supervisord.org/) to run my programs as services. You can tell it to save the output of the program as a log file, and handles the log rotation for you. I should probably add an example deployment really. I'll leave this issue open as a reminder of that.

Hope that helps.

[2017-11-22 17:23] steubens commented on #25
@flyte, an example would be most helpful... I have used supervisord before but the setup has always come prepackaged.  Anyhow, thanks for the idea... I'll take a look and see if I can figure it out.

[2017-11-22 21:04] steubens commented on #25
@flyte I was able to get supervisord on raspbian running after monkeying with it for a bit, and I created a .conf file for `pi-mqtt-gpio` under `/etc/supervisor/conf.d/`:
[code]

However, when I try to run your program using supervisord it fails and I see the following in the stderr log:
[code]
I feel like I'm missing the full path for `pi_mqtt_gpio.server` but not sure?

Your program works fine w

[2017-11-22 22:52] flyte commented on #25
If you've installed the project into a virtualenv, you need to make sure you're using the right python binary. Change the `command` line to something like:

[code]

I've updated the readme to contain a section about using supervisor. Try setting it up like that if it still doesn't work.

[2017-11-23 01:21] steubens commented on #25
@flyte I followed your new readme.md supervisor instructions and it worked like a charm.  Many thanks!!!

[2017-11-23 07:56] flyte commented on #25
Excellent! :)

[2017-11-23 07:56] #25 closed, assigned to flyte

[2017-11-23 10:38] flyte commented on #22
Closing this for now but feel free to open it again with the info requested above.

[2017-11-23 10:38] #22 closed, assigned to nobody

[2017-11-27 02:36] huckpdx opened #27 "feature request: retain inputs"
I just discovered your service and am testing it. I see that you recently added the option to configure outputs with retain = true. It would be great to have this option for inputs.

In my case, I'm using node-red. when I redeploy a flow, the client session is reset, and I don't get input status until it changes state. some of my sensors only change twice a day, so this is a problem for me.

Thank

[2017-11-27 07:53] flyte commented on #27
Sounds good to me! I'll add that in this week. Cheers!

[2017-11-27 09:20] #27 closed, assigned to flyte

[2017-11-27 09:22] flyte commented on #27
@huckpdx I've implemented this in the `develop` branch. I'm on a train and don't have the ability to test it right now, so I can't release a new version yet. Please test it out from the repository and let me know how it goes.

Cheers!

[2018-01-12 20:28] iamsven opened #28 "Add Banana Pi/Pro Module"
Hi, this project looks awesome.
I would love to use it on my Banana Pro board. Unfortunatly I have no Python skills to implement it on my own. Therefore, I would ask you/the community to adapt the raspberry pi module to the wiriningPi library for Banana Pi/Pro

[Official BPI-WiringPi2-Python library](https://github.com/BPI-SINOVOIP/BPI-WiringPi2-Python)

Thank you very much!

[2018-01-12 20:56] flyte commented on #28
Hey Sven,

I'd be happy to give it a shot! I don't have the hardware but if you're willing to test it out I can probably knock something together from the docs.

I'll let you know on here when I've got a bit of time to do it.

Cheers!

[2018-01-13 17:12] ebloved opened #29 "GPIO pull down"
Hello!
I'm a newbie to python and I can't understand how to pull down input pin.
Even I write pulldown: on in config.yml or edit raspberrypi.py with
[code]
(commented existing settings to not miss a thing) I've got nothing.
Can you help me?
Thanks!

[2018-01-30 16:24] flyte commented on #29
Hi @ebloved

You should be able to enable the pulldown by setting it in the config (although you said you already tried):
[code]

Which module/hardware are you using? Are you able to configure the pulldown using the library itself?

[2018-01-30 17:35] flyte commented on #28
@iamsven Hi!

I've knocked together a module for Banana Pi from the docs. I don't know if it works or not, since I still don't have a board to test with. Would you be able to test it out for me?

You may need to become `root` for this to work, as the Banana Pi docs says it requires `root` privileges.

[code]

You'll need to clone this repository to your BPi:

[code]

Check out the feature branch:

[2018-01-31 08:16] iamsven commented on #28
Hi @flyte ,

this looks good. I'm going to test as soon as possible as possible and post the results below.

[2018-02-02 19:12] iamsven commented on #28
I installed everything according to your instructions, but when I try to start the server the following error occurs always. I tried it several times and tried to install BPI-WiringPi2-Python manually, but it won't work.
Did I miss a step?

Error message:
[code]

[2018-02-04 12:12] flyte commented on #28
Ah, didn't realise it wouldn't cope with installing requirements from git urls. I've fixed that now, so please give it another try when you've got a moment.

You'll need to pull the latest changes on that branch first:

[code]

[2018-02-04 12:48] iamsven commented on #28
Hi @flyte,

thank you for the quick response and your work.
This time the installation of [BPI-WiringPi2-Python](https://github.com/BPI-SINOVOIP/BPI-WiringPi2-Python) worked. Unfortunately, there seems to be a problem with BPI-WiringPi2-Python on Banana Pro boards (see error message below). I commented on the [corresponding issue](https://github.com/BPI-SINOVOIP/BPI-WiringPi2-Python/issues/3) on t

[2018-02-11 10:56] flyte commented on #28
@iamsven no worries. Only a minor change required on my end, since I've already got a module for the native Raspberry Pi GPIO.

Please do another `git pull origin feature/bananapi` and change the module from `bananapi` to `bananapro` in your `config.yml`.

Let me know how it goes.

[2018-02-12 13:22] iamsven commented on #28
@flyte everything seems to work now!
I tested inputs and outputs on the Banana Pro board, and everything worked as it is supposed to.

Thank you very much for creating a module for Banana Pros.

[2018-02-12 14:54] flyte commented on #28
Excellent! I'm very glad to hear it :)

[2018-04-05 20:53] dawsmac opened #31 "Any help would be great..."
I have followed the Wiki install and get the following issues

pi@raspberrypi:~ $ python  pi_mqtt_gpio.server config.yaml
python: can't open file 'pi_mqtt_gpio.server': [Errno 2] No such file or directory

Any help would be great...

[2018-04-05 20:55] flyte commented on #31
Hi @dawsmac you're missing the `-m` here. The command should be:

[code]

Hope that helps.

[2018-04-05 20:59] dawsmac commented on #31
Hey flyte

Thanks for picking up on this 👍

Dammit I put the wrong error I had  added the -m and get the following

pi@raspberrypi:~ $ python -m  pi_mqtt_gpio.server config.yaml
/usr/bin/python: No module named pi_mqtt_gpio
Cheer

Rich

[2018-04-05 21:02] flyte commented on #31
It looks like the package hasn't been installed properly. Were there any errors from the `pip install pi-mqtt-gpio` command?

[2018-04-06 18:41] dawsmac commented on #31
Hey Flyte..

Cheers for your help... I reflashed the pi and all seems to be working now Thank again... I have married this up with my https://www.home-assistant.io/  linking up all my PIR and Door sensors around the house :)!!!

[2018-04-06 18:41] #31 closed, assigned to nobody

[2018-04-06 18:53] flyte commented on #31
Great! Glad to hear it's working for you :)

[2018-04-07 15:14] dawsmac opened #32 "DHT11 or DHT22 sensor"
Hi
If this is a pull request sorry..

I have a few DHT11 sensors and was hoping I could add them to this setup, is it possible?

Cheers
Rich

[2018-04-07 15:34] flyte commented on #32
Hmm, that would be handy, wouldn't it? It's not possible right now, but I'll have a think about it and see if I can include it next time I work on the project.

[2018-04-07 15:36] flyte commented on #29
Going to assume this is sorted. Please feel free to reopen this if you're still having problems.

[2018-04-07 15:36] #29 closed, assigned to nobody

[2018-04-08 19:55] dawsmac commented on #32
Cool sounds good....

[2018-04-12 18:05] iamsven commented on #28
Hey @flyte,
unfortunately I had to migrate my Banana Pro to the Armbian OS. I tried installing pi-mqtt-gpio the same way as last time, but I always receive the following error message. I tried installing LeMaker/RPi.GPIO_BP outside the virtualenv and the installation was successful. What am I doing wrong?

[code]

[2018-04-12 18:27] flyte commented on #28
Hey @iamsven

It looks like you're missing the `python-dev` package (`apt-get install python-dev`) so one of the components isn't able to build.

Try installing that package and running again.

[2018-04-14 21:04] iamsven commented on #28
I installed the `python-dev ` package. Then I removed the virtual environment and created a new one, following your instructions above. When I run into the following error. I retired it multiple times and did a intense online research, but I couldn't figure out a solution to this...

[code]
Oddly enough, `pip -V` works

[code]

Do you have any idea for a solution?

[2018-04-18 07:21] iamsven commented on #28
I finally found the solution myself:
My installation used Python 3 for everything. When I use Python 2 and run `pip2 install setuptools` in the virtualenv and then follow your instructions from above everything works.
Is the software supposed to only run on Python 2? If so, I would appreciate a little hint in the repo :)
@flyte thank you for your support on my other questions.

[2018-04-18 07:21] #28 closed, assigned to nobody

[2018-04-27 22:40] ronlandrus opened #33 "Install trouble - ImportError: No module named commands.install"
pi-mqtt-gpio is rolling reboot. see log snapshot below. any suggestions? thanks.

[code]

[2018-04-30 14:33] flyte commented on #33
Hi @ronlandrus.

It looks like maybe you've got an old version of virtualenv and pip. Could you try upgrading pip within your virtualenv and trying again?

From within your virtualenv:
[code]

Or from outside it:
[code]

[2018-04-30 17:39] darkpainy commented on #33
Hi @flyte

I have the same issue, running pip install --upgrade pip gives me: Requirement already up-to-date: pip in ./ve/lib/python2.7/site-packages (10.0.1)

Thanks in advance for any help you can offer :)

[2018-04-30 18:13] darkpainy commented on #33
hi @ronlandrus , @flyte

I solved my problem by running as python3.5

changing this:
[program:pi_mqtt_gpio]
command = /home/pi/ve/bin/python -m pi_mqtt_gpio.server pi-mqtt-gpio.yml
directory = /home/pi
redirect_stderr = true
stdout_logfile = /var/log/pi-mqtt-gpio.log

to this:
[program:pi_mqtt_gpio]
command = python3.5 -m pi_mqtt_gpio.server pi-mqtt-gpio.yml
directory = /home/pi
redirect_stderr =

[2018-05-01 07:15] flyte commented on #33
Interesting. Running in Python 3 should be fine. I'll make a note to double check that everything still works how it should in Python 2.

@ronlandrus does that work for you?

[2018-05-05 00:04] ronlandrus commented on #33
Not better just different halt with fatal log below
/usr/bin/python3.5: Error while finding module specification for 'pi_mqtt_gpio.server' (ImportError: No module named 'pi_mqtt_gpio')
also pi@raspZero1:~/ve/lib/python2.7/site-packages
Maybe by running with python3.5 it has issue finding site-packages.
Is it a path issue?
Maybe I should do fresh install and use python3 to install pip etc.

[2018-05-05 07:54] flyte commented on #33
Yeah, packages are installed separately between the two python versions.
You'll have to do the process again for python 3.

On Sat, 5 May 2018, 01:04 ronlandrus, <notifications@github.com> wrote:

[2018-05-06 15:36] ronlandrus commented on #33
tried installing all to use python3.5 and added some related PATH's to ./profile but am still getting rolling reboot of pi-mqtt_gpio. Log below

pi@rasZero1:~ $ sudo supervisorctl status
pi_mqtt_gpio                     FATAL     Exited too quickly (process log may have details)

pi@rasZero1:~ $ cat /var/log/pi-mqtt-gpio.log
/usr/bin/python3.5: Error while finding module specification for 'pi_mqtt

[2018-05-06 15:41] darkpainy commented on #33
@ronlandrus try using pip3 to install the pi_mqtt_gpio package. Otherwise python 3+ won't find your install

[2018-05-06 23:42] ronlandrus commented on #33
Unfortunately I tried that.
(ve) pi@rasZero1:~ $ pip3 install pi-mqtt-gpio

[2018-05-09 16:21] flyte commented on #33
@ronlandrus @darkpainy I've just worked out what this issue is. Pip has just updated to version 10, which breaks the install process.

For the moment, please downgrade to pip<10.0.0:
[code]

I'll update the project very soon.

[2018-05-12 15:26] ronlandrus commented on #33
Had to start fresh with older Raspbian. But appears to function, have not fully tested.
This is going on my garage door hopefully.

MQTT client: Received SUBACK
MQTT client: Received PUBACK (Mid: 9)
MQTT client: Sending PINGREQ
MQTT client: Received PINGRESP

pi@rasZero1:~ $ cat /etc/os-release
PRETTY_NAME="Raspbian GNU/Linux 8 (jessie)"
NAME="Raspbian GNU/Linux"
VERSION_ID="8"
VERSION="8 (jessie)

[2018-05-18 19:08] ronlandrus commented on #33
Oh yeah.
pi@rasZero1:~ $ pip --version
pip 1.5.6 from /usr/lib/python2.7/dist-packages (python 2.7)
pi@rasZero1:~ $ pip3 --version
pip 1.5.6 from /usr/lib/python3/dist-packages (python 3.4)
pi@rasZero1:~ $

[2018-05-30 22:17] smoonlee opened #34 "Install Error when running: python -m pi_mqtt_gpio.server config.yml"
![image](https://user-images.githubusercontent.com/22956963/40750556-9b33228e-645f-11e8-9cc8-03ab6231aaf4.png)

[2018-06-01 03:22] JohnnyPicnic opened #35 "No module name pi_mqtt_gpio script"
I tried making a startup script for this but get:
"/usr/bin/python: No module named pi_mqtt_gpio"

when running:
sudo python -m pi_mqtt_gpio.server config.yml

In a startup.sh file. Works great when not in a .sh file.
Also i'm a noob so sorry if this is a dumb problem.

[2018-06-16 14:56] flyte commented on #34
Hi @smoonlee

Please make sure you create a configuration file as per [this section](https://github.com/flyte/pi-mqtt-gpio#configuration) of the readme.

The software is complaining that it can't find the configuration file, so presumably it hasn't been created yet.

[2018-06-16 15:00] flyte commented on #35
Hi @JohnnyPicnic

If you've installed the software into a virtualenv, you'll need to make sure to use the `python` executable from that, or activate the virtualenv within your script before attempting to start the service.

If for example your virtualenv is in `/home/pi/ve` then change your execution line to:
[code]

[2018-06-16 15:17] smoonlee commented on #34
Cheers Ellis got it working 👍

[2018-06-16 15:18] #34 closed, assigned to nobody

[2018-07-04 22:16] CWempe commented on #33
Any update on this?

I have the same ussue.

I did a fresh install on a raspi.

[code]

I tried using `pip<10.0.0`.

[code]

But I still cannot start the tool successfully. 😞

[code]

Other sites say installing `python-dev` would fix this.
But I am not sure how this works inside `virtualenv`. 🤔

` sudo apt-get install python-dev` did not help.

[2018-07-05 08:41] flyte commented on #33
Hey @CWempe sorry, I haven't got around to it yet.

Installing `python-dev` won't fix it, you'll have to use the workaround I posted before, which is to downgrade pip to < 10.0.0:
[code]

This should also work inside a virtualenv.

[2018-07-05 08:45] flyte commented on #33
Hmm, that's odd. Installing `python-dev` should have fixed that. Maybe try recreating the virtualenv now that `python-dev` is installed?

Sorry, I haven't got around to fixing this yet, but I'll make it a priority.

Also try installing `pcf8574` in the virtualenv manually before running the software:

[code]

[2018-07-05 09:00] flyte commented on #35
@JohnnyPicnic I'm closing this issue for now, but feel free to comment/reopen it if you're still having problems.

[2018-07-05 09:00] #35 closed, assigned to nobody

[2018-07-05 15:26] CWempe commented on #33
I tried it again without success.

[code]

[code]

[2018-07-05 16:02] flyte commented on #33
Ah, so now you're getting a different error. It can't find `ffi.h` this time.

Try `sudo apt-get install libffi-dev` and running it again.

[2018-07-05 21:55] CWempe commented on #33
`pip install pcf8574` worked this time.

Now I get this error.
[code]

In case my `pi-mqtt-gpio.yml` is the problem now:

[code]

[2018-07-06 08:55] flyte commented on #33
Now it looks like it's happily installed all of the requirements, but it's not able to open the I2C device to communicate with the pcf8574. I believe you'll need to add your user to the `i2c` group in order to do this:

[code]

Log out and log back in again, then it'll hopefully work (or provide the next error message!). Alternatively, run as root, but adding your user to the right groups is the p

[2018-07-06 21:31] CWempe commented on #33
It is working now.

I will post a summary soon.

Thank you very much! 👍

[2018-07-06 22:54] CWempe commented on #33
Because I had installed my raspi with [raspbian-ua-netinst](https://github.com/debian-pi/raspbian-ua-netinst) and some customization, I had to install and configure some things extra.

# Enable I2C

[code]

# Install missing packages.

[code]

# Create and enter virtual enviroment

[code]
# Downgrade pip and install pi-mqtt-gpio

[code]

# Create configuration files

See `README`

# Test

[code]

[2018-07-09 08:56] flyte commented on #33
@CWempe great! Thank you very much for the summary. I'll try to incorporate some of it into the readme when I get some time.

[2018-08-15 10:52] flyte commented on #32
Reopening to keep the feature request around for if I ever get some time off to work on it.

[2018-08-16 21:47] flyte commented on #33
Finally fixed in v0.2.5! Thanks for the report @ronlandrus. Sorry it took so long. This should now work with all of the latest versions of pip.

[2018-08-16 21:47] #33 closed, assigned to flyte

[2018-08-20 16:40] FreeDal opened #36 "Getting FATAL ERROR Message"
Hi Flyte,

Thanks for the hard work on this. I installed the script last week and had no issues at all. Today I'm getting the following error.

pi@pi:~ $ pip install pi-mqtt-gpio
...
Successfully installed PyYAML-3.13 cerberus-1.2 enum34-1.1.6 paho-mqtt-1.3.1 pi-mqtt-gpio-0.2.5

pi@pi:~ $ python -m pi_mqtt_gpio.server pi-mqtt-gpio.yml
FATAL ERROR: The file at pi_mqtt_gpio/__init__.py should be rep

[2018-08-20 17:00] flyte commented on #36
Argh, sorry, my bad.

Thank you for reporting this!

I'm just building a new version now (0.2.6) which will fix that. I'll reply again shortly once it's done.

[2018-08-20 17:09] flyte commented on #36
@FreeDal please try installing again now.

[2018-08-20 17:25] FreeDal commented on #36
Thanks, mate. It's back up and running. Much appreciated and all the best.

[2018-08-20 17:43] flyte commented on #36
Excellent! Glad to hear it.

[2018-08-20 17:43] #36 closed, assigned to flyte

[2018-08-27 22:53] coogle opened #37 "Where's inputs?"
Hello,

Am I missing something? I have a topic '/my/prefix' and a few GPIO pins setup. I can publish to `/my/prefix/output/fan/set` and it works, but I don't see any corresponding state in `/my/prefix/input/fan`

I would expect that I could see both the current state and set the state of a GPIO pin using these but I'm not sure where my inputs are...

[2018-09-02 02:37] vontrapp opened #38 "Momentary output"
There are cases where you absolutely want an output to be on (off) for a short period. It would be nice to have this contained in the raspi config and not count on a remote client sending the correct temporary command.

[2018-09-02 05:27] vontrapp commented on #17
Can LWT be used to set many topics on death? It would be great if I could use that to clear any retained inputs when it is disconnected.

Or maybe there's another mqtt feature that does the same?

[2018-09-02 05:29] vontrapp commented on #16
FYI I ran into this error on mine. This is the only gpio program I had run.

I suspect it's when I did a ctrl-c very early in the program, when I started it and immediately remembered something I missed in the config. No big deal, after the next restart the error didn't arise again.

[2018-09-03 04:10] vontrapp opened #39 "question: refresh sensor values without retain?"
The retain flag is the straightforward way to persist sensor data to be retrieved later, such as when a service looking at the status is restarted, it can obtain the "current" state.

This however is insufficient when you would like to ensure that the state you have *is* actually a really real current state, and not something stale that has simply failed to have been updated.

I suppose I could ch

[2018-09-04 10:36] flyte commented on #17
@vontrapp I don't think so. This is a good article on the subject:
https://www.hivemq.com/blog/mqtt-essentials-part-9-last-will-and-testament

If you want to clear retained messages when it's disconnected, would just setting retain = false work?

[2018-09-04 10:40] flyte commented on #37
Hi @coogle

When you publish to `/my/prefix/output/fan/set`, once the Pi has set that output, it will publish the new value on `/my/prefix/output/fan`.

The `input` and `output` in this case, is in relation to the physical input/output pins of the Pi, so for example, if you had a switch connected, that could publish to `/my/prefix/input/switch` when it changes state.

Hope that helps!

[2018-09-04 10:42] flyte commented on #38
Hi @vontrapp

I think this is a duplicate of #10 which I've already implemented.

You can use the `set_on_ms` and `set_off_ms` topic suffixes to do this.

Please see this readme section for more info:
https://github.com/flyte/pi-mqtt-gpio#temporary-set

[2018-09-04 10:43] flyte commented on #38
Oh, hang on - now I see what you mean. You'd like to use the `/set` suffix but have the momentary part configured in the config file. Hmm. I'll have a think about this!

Could you let me know some possible use-cases for this feature?

[2018-09-04 10:54] flyte commented on #39
@vontrapp I see what you mean.

LWT is indeed the canonical way to handle this, but I agree that it's tricky to integrate, especially with existing third party systems.

Option A sounds easiest to implement, and least confusing to configure.

[2018-09-04 12:11] flyte commented on #16
@vontrapp thanks for reporting it.

If it causes any problems, or you think it shouldn't be this way, then please reopen this issue or create a new one describing how to recreate the problem.

[2018-09-05 06:24] vontrapp commented on #38
The use case would be primarily for safety, otherwise the use case is entirely identical to the specific "set_on_ms" topic. Rather, the duration of the momentary switch, which state it switches to and from, are tightly controlled by the configuration on the pi, and not subject to the whims of any published request.

Some devices may be damaged by being held on too long, for example.

I came across

[2018-09-05 06:26] vontrapp commented on #38
And I don't think this would be a replacement for the "set_on_ms" either, as sometimes you do want that flexibility to do different durations or entirely switch on or off etc.

[2018-09-05 06:29] vontrapp commented on #39
Turns out after actually getting these into HA with LWT, it is actually quite straightforward and integrated already, with sane defaults, to mark 'stale' ("unavailable") sensors with very little configuration.

[2018-09-05 09:02] flyte commented on #38
Yes, I absolutely agree with you. OK, I'll have a look at how this can be
done.

On Wed, 5 Sep 2018, 07:26 Von Fugal, <notifications@github.com> wrote:

[2018-10-01 13:38] flyte commented on #37
Hey @coogle I'm going to close this for now, assuming that answered your question. Please feel free to reopen the issue if you're still having problems. Cheers

[2018-10-01 13:38] #37 closed, assigned to nobody

[2018-10-07 12:57] tarbax opened #40 "Support digital sensors, as opposed to just IO expanders"
i want to hook up these: 4x DS18b20, TCR5000(pulse counter),BMP280, BH1750, HC-SR04, read Switch and 1 current sensor

is this possible ?
i cant find any info what is supported.

[2018-10-09 09:24] flyte commented on #40
Hi @tarbax

Currently only the modules listed here https://github.com/flyte/pi-mqtt-gpio#modules are supported.

The modules you list are temperature sensors, pulse counters, barometric sensors, light sensors, and ultrasonic sensors. So far, the modules supported on this project are digital/analogue IO expander chips, but it may be possible to write a module for these chips somehow (I'd probably h

[2018-10-25 23:17] eXCepT74 commented on #32
Is that possible to add support for MCP23017 - it has 16 I/O ports , I2C and each port can be loaded with 20mA , it has as well switchable active pullup resistors. I probably will use ur project to control my smart house based on PCF, but MCP is good idea as well. For now i see that will need at least two expanders on pcf... If i use two expanders with same addresses whether those two will be work

[2018-10-26 07:39] flyte commented on #32
Hey @eXCepT74

The MCP23017 is certainly suitable for use with this project, but could you make a separate Issue please? You can just copy and paste your comment into a new one.

Cheers

[2018-10-26 19:51] eXCepT74 commented on #32
Is that possible to add support for MCP23017 - it has 16 I/O ports , I2C and each port can be loaded with 20mA , it has as well switchable active pullup resistors. I probably will use ur project to control my smart house based on PCF, but MCP is good idea as well. For now i see that will need at least two expanders on pcf... If i use two expanders with same addresses whether those two will be work

[2018-11-04 19:50] amirandap opened #41 "Status topic"
How can i get the status topic for a specific gpio? The  "status_topic: status" seems to always return running

[2018-11-05 00:34] amirandap opened #42 "Status topic?"
Double post

[2018-11-05 15:57] #42 closed, assigned to nobody

[2018-11-05 15:57] amirandap commented on #42
Duplicate post

[2018-11-05 19:50] eXCepT74 commented on #32
-

[2018-11-07 20:08] soosp opened #44 "Feature request: add SSL support"
Hello,

Please add MQTT over SSL support to connect to the MQTT server even if it uses self signed certificate or cert issued by a local CA.

[2018-11-07 23:42] vontrapp commented on #41
The status topic is an MQTT LWT message. This means that the mqtt broker, not the raspberry, will update this message if/when the raspberry disconnects.

To get the status of a specific GPIO, try publishing with the retain option

[code]

Then, the broker will always store the last updated state of that input, and any new subscriber will get that status.

The new subscriber should also check the L

[2018-11-12 23:52] eXCepT74 opened #45 "PCF8574 & server crash"
please delete - problem solved

[2018-11-13 14:12] flyte commented on #44
Hey @soosp thanks for raising the issue. I didn't realise I hadn't implemented this yet!

I've now implemented this in v0.2.8 and added the instructions to the readme.

Please reopen or make a new issue if you have problems.

Cheers

[2018-11-13 14:12] #44 closed, assigned to nobody

[2018-11-13 14:13] flyte commented on #45
That was easy :)

[2018-11-13 14:13] #45 closed, assigned to nobody

[2018-11-13 14:14] flyte commented on #45
Out of interest though, what was the solution?

[2018-11-14 18:32] fleusner opened #46 "pi-mqtt-gpio + VN + Pi2B"
Hey Ellis,

got an issue using your example code on a raspberry pi 2B.
Error log looks like this:

[code]

I've tried to use this one within the vn, but unfortunately it didn't work. :/

`pip install RPi.GPIO`

[2018-11-14 20:18] eXCepT74 commented on #45
The problem was server crashing when was used PCF8574 extender. I wrote config with multiple inputs. And after start server crashed. Then for find the problem - i removed all inputs except one - restart and server crashed :( .
So i changed inputs to outputs - restart and all was ok. In one word  - if server worked as inputs never started just crashed with many lines - here on this page was full lo

[2018-12-11 11:29] Rohrleitner opened #47 "Is ist possible to change gpio.BCM to gpi.BOARD for Raspberry module"
Hi! Your script seems nearly perfect! Thank you.
But is ist possible to change gpio.BCM to gpi.BOARD for Raspberry module.
I found it hardcoded in line 54 from "raspberrypi.py" "        gpio.setmode(gpio.BCM)"

Greetings from austria
Charly

[2018-12-11 13:25] flyte commented on #47
Schön abend, Charly!

I believe its possible, yes. I'll take a look at the code later, but from memory I expect it to be a simple change.

Ich werde versuchen es machen bald.

[2018-12-12 08:41] Rohrleitner commented on #47
Perfect!
Is there an information about, how to use the "timeoput" output with the
"ms" value

Am Di., 11. Dez. 2018 um 14:25 Uhr schrieb Ellis Percival <
notifications@github.com>:

[2018-12-13 08:50] Rohrleitner opened #48 "Add bouncetime? Problems with Bouncing on digital input!"
Hello.
My first garagdoor automation setup works really fine.
The only problem is, that i have a "bouncing", everytime from "CLOSED-OPEN-CLOSED" on my reed switchs and i can see it switching in your log.

There should be a function for setting the bouncetime:
[https://sourceforge.net/p/raspberry-gpio-python/wiki/Inputs/](url)

# add rising edge detection on a channel, ignoring further edges for 20

[2019-01-03 11:45] Wafje commented on #40
Hi. I'm also interested in DS18b20 support over one wire.

[2019-01-21 11:41] ghost opened #49 "Two piface2 modules on same board"
Would it be possible to add support for two piface2 modules? At the moment only the first piface2 seems to be supported, and there does not seem to be an option to select the second one on a different address. With the address jumpers 4 modules in total are allowed on the same Pi.

I would like something like this:

[code]

[2019-01-29 11:02] flyte commented on #46
Hi @fleusner

Sorry for such a delay.

Are you running the project with `sudo`? If so, it won't pick up your virtualenv. You'll need to use `sudo /home/pi/ve/bin/python` instead of `sudo python`.

[2019-01-29 11:05] flyte commented on #48
Hi @Rohrleitner

Yes, this looks like a good idea. Thanks. I'll add this to the list and try to get it implemented soon.

Cheers,
Ellis

[2019-01-29 11:06] flyte commented on #49
Hi @XolphinMaarten

Ah yes, I didn't consider this before. This is a good idea, and I'll add it to the list to implement once I get around to spending some time on this project again.

Cheers,
Ellis

[2019-02-08 21:24] c3reeman commented on #19
Was there any change on this ? I too am looking to be able to tie an input to an output or multiple outputs, it would be great for simplicity and avoid home assistant clutter

[2019-02-11 13:12] jfiger commented on #27
Is the feature "retain inputs" already implemented? Not working for me.

[2019-02-18 15:26] patvdleer commented on #32
Following :)

[2019-02-18 16:49] BenjiU commented on #32
Currently I'm working on the interrupt issue (#5), but how may a yaml config for dht11/dht22 look? You have two values on one sensor, that should appear in two different topics. My suggestion (I steel the config idea as I've implemented it for lm75 i2c temperatur sensor in pullrequest #52)

[code]
So we config the dht11/22 sensor twice on the same pin. First time with temperature value and second

[2019-02-18 17:22] flyte opened #53 "Add support for MCP23017 16 bit I/O expander"
Originally posted as a pull request by @eXCepT74 so I've moved it to an issue:

[2019-02-18 18:09] flyte commented on #32
It would be nice to keep the module configs 1:1 with the physical modules, so in `sensor_modules` it should be listed once. The module name doesn't have a bearing on the topic, so the temperature/humidity configuration could be on the `sensor_inputs` instead. Something like:

[code]

What do you reckon?

[2019-02-19 11:48] BenjiU commented on #32
That's of course the better solution. I already implemented this "interface" for LM75 I2C sensor on the other branch: when getting the value from the sensor in the `sensor_timer_thread`, the `sensor` is passed to the read function. We just need to pass the `sens_conf` to the `get_value()` function, instead of the `sensor` value:
[code]
the `get_value` function can now evaluate the `sensor` attribu

[2019-02-19 12:58] patvdleer commented on #32
Would this work for a ds18b20 as well?

[2019-02-19 13:06] BenjiU commented on #47
What would be the default mode? GPIO.BCM?
Should we check for errors, if another python module changed the numbering and we could get a inconsistancy?

To detect which pin numbering system has been set (for example, by another Python module):
mode = GPIO.getmode()
The mode will be GPIO.BOARD, GPIO.BCM or None

[2019-02-20 16:02] BenjiU commented on #32
No, as far as I know, one wire from dht11 and one wire from ds18b20 are incompatible. So you should create a new issue for ds18b20, if you want it to be supported. Maybe you could try a library, that should be supported and mention it there. (e.g. https://github.com/timofurrer/w1thermsensor)

[2019-02-20 20:30] patvdleer opened #54 "DS18B20 support"
Request for support for the DS18B20;

https://github.com/flyte/pi-mqtt-gpio/issues/32#issuecomment-465640303

No, as far as I know, one wire from dht11 and one wire from ds18b20 are incompatible. So you should create a new issue for ds18b20, if you want it to be supported. Maybe you could try a library, that should be supported and mention it there. (e.g. https://github.com/timofurrer/w1thermsenso

[2019-02-20 20:56] patvdleer commented on #54
I made a very crude and untested setup, not sure this is the way to go https://github.com/patvdleer/pi-mqtt-gpio/commit/f701a239c9a65804ce4c4358569e4a510f452c68

[2019-03-08 15:47] S-Przybylski opened #55 "Docker Support"
Does somebody know, if this project was already ported into a docker container?
Reason: my Smart Home concept completly rely on Docker (simplified lifecycle, easy to maintain).

I know that i have to connect the necessary hardware devices to the container ...

[2019-03-08 17:20] flyte commented on #55
Interesting idea! There's nothing to stop it from running in docker, but you'd have to work out how to pass the devices through, as you mention.

Nobody that I'm aware of has made a Dockerfile for that, but I can make one soon if you like.

[2019-04-01 10:55] flyte commented on #40
The work to implement digital sensors has been completed by @BenjiU allowing modules to be created for individual sensors you'd like to support. I don't have any of those listed, but if you're capable, then I'll happily accept pull requests for modules that you've made.

[2019-04-01 10:55] #40 closed, assigned to nobody

[2019-04-05 12:24] gieljnssns commented on #32
@BenjiU

Maybe this one?
https://github.com/adafruit/Adafruit_Python_DHT

[2019-04-21 09:45] tomlut opened #56 "How to update (virtualenv install) ?"
I notice you updated the repository 18 days ago but as a Linux newb I have no idea how to update it on my system.

I followed the  virtualenv installation recommendation.

[2019-04-21 10:39] flyte commented on #56
You should be able to activate the virtualenv using

`. /path/to/your/virtualenv/bin/activate`

And then use pip to update the software using

`pip install - - upgrade pi-mqtt-gpio`

However, unless you're using a Beaglebone there's no need to update to the latest code, as I was just adding support for that.

[2019-04-21 10:39] #56 closed, assigned to nobody

[2019-04-21 14:14] tomlut commented on #56
Awesome. Thanks for the quick response.

[2019-04-25 13:17] tomlut commented on #56
Another question Flyte. I've just set up a new pi with raspbian lite and am having a bit of trouble.

`sudo supervisorctl status pi_mqtt_gpio`

Reports that it is running but I'm not getting any mqtt messages published.

I had a look in the log and see a lot of:

[code]

Which makes no sense to me. How can it not find `RPi.GPIO` if `Requirement already satisfied: RPi.GPIO in /usr/lib/python2.7/dis

[2019-04-25 13:26] tomlut commented on #56
Never mind this fixed it:

[code]

[2019-05-02 14:04] blademckain commented on #55
+1
need docker container plx

[2019-05-02 14:06] blademckain commented on #54
me too need supporto for DS18B20
+1

[2019-05-04 22:34] pejotigrek opened #57 "on-off loop with door sensor"
I am not sure, but it could be related with #48

I have RPi2 installed in my garage, with latest pi-mqtt-qpio & got [similar to these](https://www.ebay.co.uk/itm/6Pcs-New-MC-38-Wired-Door-Window-Sensor-Magnetic-Switch-Alarm-System-DetectorSP/153424756637) reed switch sensor installed and configured in HomeAssistant.

whenever I open the garage door, sensor instead of keeping itself "open", it give

[2019-05-05 18:03] iotarho opened #58 "New issue after upgrade "Config did not validate""
I've been using mqtt-gpio for a few months to monitor door sensors via RPi's GPIO pins and it's been working great.  However after upgrading yesterday, I'm getting an error I'm not quite sure what to make of.  Here's the error thrown (and my config file below that):

Config did not validate:
[code]

And here's my config.yml file
[code]

Thanks for any suggestions.

[2019-05-19 18:48] c3reeman opened #59 "Status Topic Help and advice - Home Assistant switch feedback status"
Hi Great project i'm hoping to move all my lighting switching over to MQTT I'm just doing some tests and getting setup I've got it working to a point with home assistant.

I can toggle the switch from within home assistant and the topic is sent and i see its received on the pi running mqttt-gpio and sure enough the relay toggles as expected. The problem is im not getting the return msg to home ass

[2019-05-21 09:37] c3reeman commented on #59
state_topic: "pibox/switch/output/1

In home assistant fixed it

[2019-05-21 09:37] #59 closed, assigned to nobody

[2019-05-21 09:42] c3reeman opened #60 "Can PCF8574 be daisy chained ?"
Can PCF8574 be daisy chained ? Ideally I need 45 ish gpio’s from one raspberry pi I see this version below looks like you can simply plug them together ??

WAVGAT PCF8574 IO Expansion Board I2C-Bus Evaluation Development Module Hot Sale
https://s.click.aliexpress.com/e/BYxFsOy

[2019-05-21 10:36] flyte commented on #60
Hey, yes they can. There are three address pins, which will allow you to address up to 8 pcf8574 chips, so that should give you 64 IO pins in theory.

[2019-05-21 10:36] #60 closed, assigned to nobody

[2019-05-26 11:51] flyte commented on #58
Hi @iotarho

Sorry for the delay. The `initial` values can only be set on _outputs_ and not _inputs_. That is used to make sure outputs are set to a desired value when the software starts up, so it doesn't make sense on inputs.

You should be able to just remove the `initial` lines from your config completely.

I'm going to close this as I believe that's the solution to your issue. Feel free to re

[2019-05-26 11:51] #58 closed, assigned to nobody

[2019-05-26 11:58] flyte commented on #57
It sounds like the switch is physically bouncing (this happens to most switches to varying degrees). Does it eventually end up on the right value?

If it's bouncing, you can add a capacitor across the sensor terminals, which should help to mitigate it. There's a [good article here](https://www.allaboutcircuits.com/technical-articles/switch-bounce-how-to-deal-with-it/) all about it.

I do think it'

[2019-05-26 12:44] flyte commented on #55
@S-Przybylski @blademckain
I've added a Dockerfile now, and published an auto-building image on Docker Hub. Please have a look at the bottom of the readme, which now explains a bit about how to run this project on Docker.

At the moment the hardware side is untested, since I don't have a Pi with Docker handy, so please report back here if it worked or not, and any other updates you think should be

[2019-05-26 12:48] #41 closed, assigned to nobody

[2019-05-26 13:06] pejotigrek commented on #57
hi! thanks for your answer - and I keep my fingers crossed to see this functionality in the software :)

regarding if this is or isn't an issue with bouncing - TBH I guess I have too little knowledge about those parts to be 100% sure. I'm calling it bouncing, because it looks like the closest match - and unfortunately it's not eventually ending on the right value :( the on-and-off relationship las

[2019-05-26 14:06] flyte commented on #57
OK, let's reopen this for the moment then.

I've just added the ability to configure logging in your `config.yml` file. I haven't released a new version yet, but have a look in the readme and try using the software from `develop` branch to test it out.

[2019-05-26 14:54] flyte commented on #47
Good questions, @BenjiU

I'd say use what we're using now for numbering as default, if only to be more backwards compatible. Is one more of a defacto standard than the other?

When would you suggest checking the mode? If we're setting the mode explicitly, then that should suffice during the setup phase, but do you suggest checking the mode before each read/write operation too? Perhaps this should

[2019-05-27 13:57] BenjiU commented on #47
Hi,
I'm always using gpio.BCM, keep it for backward compatibility. Good idea.

I just googled a little bit and I'm not sure, if we need a check. Does someone know, how it works, when linux program uses a library, is it copied and exclusive or shared with different executed programs? Maybe we don't need a check. I'll try next week on a raspberry with different programs.

[2019-05-28 07:19] pejotigrek commented on #57
thanks! will check it ASAP [I leave for a week+ vacation at friday, so do not have as much time till 12th of June, but will do my best not to keep the test without answers too long].

but - a n00b question: how do I install dev branch? I can see that the installation procedure and package name are identical as master's, am I right?

[2019-06-03 20:18] S-Przybylski commented on #55
Dear @flyte
currently i have to organize an additional test environment because my actual hardware is in use by another project. I'will come back later to test ...

[2019-06-04 18:11] c3reeman opened #62 "GPIO Input's Pull up resistor ?"
Not a software fault as such just looking for a little advice on switch inputs ( physical switches, doors reed switches etc)

Would a pull up resistor be required say around 4.7k and a small capictor be needed like is commonly used on esp2866 gpis's ?

[2019-06-06 07:05] tomlut commented on #62
For reed (and other) switches that do not supply a voltage you will need a pull-up resistor. Specifying:

[code]
in your pin configuration would be sufficient. No need for a physical resistor.

I have switches located about 20m away hooked up with standard Cat 3, 2-pair telephone wire and have not found the need for a noise reducing resistor-capacitor filter network.

So unless you live in a very

[2019-06-06 09:33] flyte commented on #62
Thanks @tomlut!

@c3reeman I only tend to put capacitors on my inputs when I've noticed some "phantom" input changes that presumably have been caused by things such as high current appliances turning on and off nearby.

There are a couple of useful comments on this here https://www.raspberrypi.org/forums/viewtopic.php?t=117853

[2019-06-06 09:43] flyte commented on #57
You should be able to either clone the repo with git straight to the Pi using something like (I'm on mobile, so from memory):

[code]

This is assuming you've already activated your virtualenv if you're using one.

[2019-06-09 19:14] c3reeman commented on #62
Thanks for the advice guys much appreciated, for the cost involved I might use capacitors across all inputs anyway just as a precaution, what size have you used @flyte ?

[2019-06-11 19:29] c3reeman opened #63 "error when using PCF8574"
Hi Receiving this error when trying to use expansion boards PCF8574

[code]
My configuration is the same as the one in the readme example, just using the Pi alone as a module works no problem

[2019-06-11 19:48] #62 closed, assigned to nobody

[2019-06-12 09:21] rdehuyss opened #64 "Support for PN532 NFC module"
Hi,

Love this software. Is it possible to support PN532 NFC module via UART?

Thanks,
Ronald

[2019-06-12 09:51] flyte commented on #63
I believe you need `sudo apt-get install libffi-dev`.

[2019-06-12 21:09] c3reeman commented on #63
Perfect all working now x5 PCF8574 and 48 relays, Out if interest have you had much experience with relay boards from china ? not sure if i just got a bad batch but i had quite a few faulty ones see...

https://community.home-assistant.io/t/8ch-relays-boards-from-aliexpress-quality-problems/121460

[2019-06-12 21:09] #63 closed, assigned to nobody

[2019-06-13 17:26] bigbigblue commented on #48
I would very much like to see this added too. At the moment I am looking at using hardware debouncing of PIR contacts attached to my Pi.

[2019-06-13 22:51] SkySails opened #65 "No module named dht22 / Type field unknown"
Hi! I'm trying to publish values from a dht11 sensor  to MQTT using this library and I have encountered some errors. (Clean raspbian lite image). Toggling witches using the raspberry/GPIO module works just fine, but showing the sensors are not.

Using the example configuration I get this error:
[code]
And if i remove the "type" entry from the configuration I am left with the following:
[code]
I lo

[2019-06-14 11:37] SkySails commented on #65
Some progress. I managed to get it to execute by installing using the provided setup.py instead of the recommended pip. I did encounter another error implying that dht11 was not a part of the module:
[code]
which was easily fixed by changing line `35` in the dht22.py module:
[code]
to
[code]

Unfortunately I'm still having trouble. The log is spamming me with this, probably implying that I have so

[2019-06-14 12:19] flyte commented on #65
Thanks for your detailed report. I'll have a look at the code issues a bit later but my experience with DHT11 sensors is they they sometimes (frequently actually) return null when reading their values. I believe this is something to do with a lack of real-time access to the pins messing up the timing of some of the communication with the DHT11.

Are the values reported properly sometimes, or does

[2019-06-14 12:30] SkySails commented on #65
That sounds like the experience I'm having. The values are always None, unless hardcoded otherwise in the module. When polling the sensor for values using WiringPi, almost 90% of the results are

When using python and Adafruit_DHT however, I __always__ get a result _providing that the script is run with sudo_. This might be where the problem resides.

[2019-06-14 12:34] SkySails commented on #65
### Success!
The solution was running as root. The sensor now reports back correctly every single time, even with a 2-second interval. Should I do a PR for the required changes to the module?

[2019-06-14 12:44] flyte commented on #65
Ah, interesting. I wonder if there's a group to which your user can be added in order to allow for real time access. If you test that, remember that you need to log out and back in again for groups to take effect.

A PR would be great, thanks! I see the lowercase issue now. I was wondering why it worked before, but I think the guy who contributed that module used one of the other sensors so I gues

[2019-06-14 12:56] SkySails commented on #65
Roger. In the meantime, if I add the humidity part of the sensor to the configuration i get the same value as for the temperature. I'm fairly certain that this is the result of the module's default `type`.
My current config looks like this:
[code]
which differs from the example:
[code]
The difference is in how the type is defined. Normally, when running as a non-root user, defining the type accord

[2019-06-14 13:06] SkySails commented on #65
### Solved
This was also easily resolved. This time by editing the schema in `__init__.py`. I added the following to the `sensor_inputs` schema:
[code]
and now it works like a charm!
__Edit:__ With the configuration provided in the documentation that is.

[2019-06-14 13:07] flyte commented on #65
This sounds like an issue from when I changed the options/type bits around at the end of #61 .

I'm just having a look through it now to see what I've done wrong.

[2019-06-14 13:11] SkySails commented on #65
The sensor updates are not happening according to the time interval. Updates keep flowing with varied delays between 2 and 7 seconds. Any idea as to what this might have to with?

[2019-06-14 13:15] flyte commented on #65
Ahh, I added a mechanism for modules to specify extra config schema but didn't allow unknowns in `sensor_inputs`. I've committed that change to `develop` now - are you in a position to check if that fixes your initial problem (the one you already fixed in your **Solved** comment)?

[2019-06-14 13:16] flyte commented on #65
I didn't write the sensor polling timing part, and it's a little too complex to figure out at a glance. I suggest opening a new issue for that, possibly with some timestamped logging output to work from.

[2019-06-14 13:19] SkySails commented on #65
I can confirm that your change fixes that issue for me.
What logging do you want? The log of sensor updates?

[2019-06-14 13:22] flyte commented on #65
Excellent!

Yeah, something to work from when debugging the timing part. I must admit that I haven't got around to hooking up a DHT11 and testing the sensor reading code myself, and until now have been relying on the contributors' own testing, so any evidence that I can work from in the mean time would be useful.

[2019-06-14 13:31] flyte commented on #64
Hey, glad to hear it!

What type of functionality would be required from this? Would it just be to read a presented RFID tag and publish that over MQTT?

I'm not sure the architecture at the moment would easily support that, but I'm writing an asynchronous version that could probably handle it.

In other words, it's a no at the moment (unless someone comes up with a PR, but it'd have to involve so

[2019-06-14 13:35] #65 closed, assigned to nobody

[2019-06-14 13:49] SkySails opened #67 "Sensor polling interval not working"
The polling interval as set in the configuration is not reflected on the update intervals of the sensors when the server is running. The actual interval is sporadic and unnecessary high.

## Configuration
[code]
## Logs
[code]

[2019-06-14 13:52] flyte commented on #67
Thanks for the report.

Could you also provide the relevant sections of your config, if you're setting the interval there?

[2019-06-14 13:54] SkySails commented on #67
I edited the original post to include the wanted information.

[2019-06-14 13:55] SkySails opened #68 "DHT22 Module requires root access"
The DHT22 module in its current form requires root access to provide any value other than `None`.
This is due to its dependency, `Adafruit_DHT`, which needs root privileges to get access to the GPIO interface.

[2019-06-14 14:17] flyte commented on #68
Thanks for the new issue. You managed to find three separate issues in #65 so this helps keep track of them all.

There's a PR here that was merged in 2016 which reportedly allows non-root access:
https://github.com/adafruit/Adafruit_Python_DHT/pull/42

[2019-06-14 14:21] flyte commented on #68
There's also a SO post that might help here https://raspberrypi.stackexchange.com/a/40106

Specifically, this line:

```sudo adduser pi gpio```

[2019-06-14 14:25] SkySails commented on #68
Neat. I wonder why it isn't working for me tho. I can only get Adafruit_DHT to output values when running scripts as root, might have to do with bad permissions on my side? Despite using a fresh install of raspbian lite.

I actually tried that before, but to no avail unfortunately.

[2019-06-14 14:31] flyte commented on #68
What permissions does `/dev/gpiomem` have for you?

[2019-06-14 14:33] SkySails commented on #68
[code]

[2019-06-14 15:56] flyte commented on #68
Might be worth rebooting (to make sure the group has taken), and then trying the example from https://github.com/adafruit/Adafruit_Python_DHT/blob/master/examples/AdafruitDHT.py without `sudo` to rule out any issue with pi-mqtt-gpio.

[2019-06-14 16:07] SkySails commented on #68
That's a VERY good tip. Should've been the first thing i did. I already use that exact file for testing along with manual tests but a reboot is critical!

[2019-06-14 16:11] SkySails commented on #68
Unfortunately the same result. `Adafruit_DHT.py` fails to get a reading without sudo.

[2019-06-15 15:11] flyte commented on #68
That's disappointing. Perhaps it's worth creating an issue on the https://github.com/adafruit/Adafruit_Python_DHT/ repo then, to see if they can shed some light on why it won't work without `sudo`.

[2019-06-15 16:06] SkySails commented on #68
Actually, when deploying the server using supervisor everything works as expected. Running on commandline still throws the same issue but supervisor works.

[2019-06-15 16:11] flyte commented on #68
Unless you've explicitly set your supervisor config to run as another user,
it'll default to running as root, I believe.

On Sat, 15 Jun 2019, 17:06 Malte, <notifications@github.com> wrote:

[2019-06-16 13:14] flyte commented on #68
I've set up a little test rig with some buttons and a dht22 sensor, and I don't have to run as root to be able to read values from the sensor. I'm using a fairly recent version of Raspbian, and version `1.4.0` of `Adafruit-DHT`. The `pi` user was already in the `gpio` group, and it "just worked" for me, I'm afraid!

[2019-06-16 13:16] flyte commented on #67
What I think might be happening is that it takes a non-trivial amount of time to read the sensor, so it skews the timing when it's set to short intervals. Can you try setting it to 30 or 60 seconds and see if it outputs the values more punctually?

[2019-06-16 13:33] SkySails commented on #68
Alright, must be a problem on my end then. Apologies!

[2019-06-16 13:33] #68 closed, assigned to nobody

[2019-06-16 13:36] flyte commented on #68
No probs. Hope you get it sorted.

[2019-06-20 12:21] eXCepT74 commented on #54
Me too and even multi sensor config - multiple on one line as in Tasmota sonoff firmware. I have in plan i2c bus in my house and I have few rooms to check temperature and many open/close / motion  sensors. To extend range I’ll use this:

https://www.sparkfun.com/products/14589

[2019-06-27 19:21] pejotigrek commented on #57
thanks for the explaination!
unfortunately in the meantime SD card used in my _garage-door-sensor-raspberrypi_ died, so I'm building all from scratch with some other stuff installed, and because remote GPIO read component was added in one of the latest HomeAssistant updates - I'm slowly moving towards it. easier to config [I guess - for me] and I can scratch out the middle man [mqtt that is] which

[2019-06-28 00:12] flyte commented on #57
Fair enough. No problem, and I hope you get something working properly. Cheers

[2019-06-28 00:12] #57 closed, assigned to nobody

[2019-06-30 22:14] pixiandreas commented on #48
Hi there, lovely software, any news about this issue ??

Regards

Andreas

[2019-07-01 08:04] BenjiU commented on #48
Hi,

I'm working on that, and have already a working version, but I have to clean up a lot of code :-( before I can create a pull request.
Currently I have extended the digital_inputs config (https://github.com/BenjiU/pi-mqtt-gpio/commit/96bf4e11cd25b2d8e9d90113d8ad05959de1b846#diff-0ab99ddee45bf345e48d79ae48ea7ecd)
with a interrupt-type (if none, its polling)
[code]
and a bouncetime, that may be

[2019-07-03 10:29] ViPeR5000 commented on #54
+1

[2019-07-03 15:06] ViPeR5000 opened #69 "ds18b20"
add support to  ds18b20

[2019-07-03 15:07] ViPeR5000 commented on #69
MQTT client: Sending SUBSCRIBE (d0, m2) [('home/octopi/output/Ender-Luzes/set', 1)]
MQTT client: Sending PUBLISH (d0, q0, r1, m1), 'home/octopi/input/Ender-Luzes', ... (3 bytes)
Subscribed to topic: 'home/octopi/output/Ender-Luzes/set'
MQTT client: Sending SUBSCRIBE (d0, m3) [('home/octopi/output/Ender-Luzes/set_on_ms', 1)]
Subscribed to topic: 'home/octopi/output/Ender-Luzes/set_on_ms'
MQTT clien

[2019-07-07 12:44] pasleto opened #70 "Momentary vs rocker switch?"
Hi, am i able to  connect rocker switch as digital input, or only momentary push button?

Thanks for the answer :)

[2019-07-08 08:43] BenjiU commented on #70
Just to be sure: rocker switch means, that it holds its position/state (ON or OFF), until you press it again to opposite state (OFF or ON)?
Shouldn't be a problem. I have this for my light switches.

[2019-07-08 09:16] flyte commented on #70
Yes, absolutely. Any switch should be suitable. It just pulls the input pin from high to low, or low to high, depending how it's set up.

[2019-07-14 11:05] Odianosen25 opened #71 "Lirc for IR control"
Hello,

Will it be possible to add the ability for your module to control IR devices?

Thanks

[2019-07-20 12:05] nick1802 opened #73 "sudo restart or ctrl+C makes gpio spaz"
hey Flyte,
having issue with the GPIO's when restarting raspberry pi or stoping server makes all attached relays cycle on/off very quicky until i physically pull power to the pi.

`mqtt:
  host: localhost
  port: 1883
  user: ""
  password: ""
  topic_prefix: pi    # pi/outputs/*name*/set

gpio_modules:
  - name: raspberrypi
    module: raspberrypi

digital_outputs:
  - name: gpio26
    module: ra

[2019-07-21 11:50] #73 closed, assigned to nobody

[2019-07-27 00:19] julioo94 commented on #68
Hello,

I blame you because I try to set up pi-mqtt-gpio with DHT22

I already have gpio switch set up and it works very well

mes as I add the DHT22 and I run the program here is what I put I install the library adafruit

 Config did not validate:
sensor_inputs:
- 0:
  - type:
    - unknown field
  1:
  - type:
    - unknown field

if one of you to an idea to help me on the way is DHT22 it will b

[2019-07-27 00:37] julioo94 commented on #32
Hello,

I can not walk to module it shows me this error message

[code]

here is my config.yml file
[code]

I work on rasbian Buster I have installed the library Adafruit-DHT,

I also try on rasbian jessie but nothing always the same mistake ...

when I do ./AdafruitDHT.py 22 17 it works well and returns me as a result:

`Temp=23.2*  Humidity=74.8%`

an idea of ​​where is my problem?

PROBLEM SOLV

[2019-07-27 23:55] Alycee1993 commented on #54
Is this happening ?

[2019-07-31 15:06] hemantkamalakar commented on #55
Docker image doesnot work on Raspberry Pi zero.
`standard_init_linux.go:190: exec user process caused "exec format error"`

[2019-08-04 19:21] rdehuyss commented on #64
Hi, it indeed would just be to read the presented RFID tag and publish that over MQTT. Management of all the tags would be handled somewhere else (homeassistant).

Glad that you would consider this!

[2019-08-05 19:30] reestr commented on #70
I have this same question, how would someone actually configure this though; on receiving an mqtt message drive a GPIO pin from low -> high (1 second) -> low ?

[2019-08-06 05:52] BenjiU commented on #70
Hi reestr, I don't get your point in total: are you talking about a output? The original question was about an input.

[2019-08-06 06:55] reestr commented on #70
You're right, I missed the part about it being for input, sorry for the noise.  I was talking about output, and the same request seems to have been captured [here](https://github.com/flyte/pi-mqtt-gpio/issues/38).

[2019-08-06 06:59] reestr commented on #38
I have the same use case as @vontrapp has outlined.  I would like this for safe opening of garage door and to switch my outside lights which are on a relay circuit on/off.

[2019-08-26 20:42] Alycee1993 opened #74 "HELP WITH AUTO START"
i need help with getting this to start i  am nooob and not really sure how to get this to auto start i hvae tried a few times and doesn't seem to start any time can any one help me

[2019-08-27 04:20] BenjiU commented on #74
HI, what have you tried, and what didn't work? The "Serving Suggestions" with supervisor from flyte are pretty simple and work fine for me: https://github.com/flyte/pi-mqtt-gpio#serving-suggestion

[2019-08-28 18:31] Alycee1993 commented on #74
hi there i have installed the virtualenv like it says my problem is dont have a this path and tbh i am unsure it it has installed to  but it dose work so my problem is am unsure of the path i would fix the command line
command = /home/pi/ve/bin/python -m pi_mqtt_gpio.server pi-mqtt-gpio.yml

my config.yaml is in the home/pi folder and as i said the script works if i run the command  just unsure of

[2019-08-28 19:44] Alycee1993 commented on #74
hi there i have installed the virtualenv like it says my problem is dont have a this path and tbh i am unsure it it has installed to but it dose work so my problem is am unsure of the path i would fix the command line
command = /home/pi/ve/bin/python -m pi_mqtt_gpio.server pi-mqtt-gpio.yml

my config.yaml is in the home/pi folder and as i said the script works if i run the command just unsure of t

[2019-08-29 11:49] BenjiU commented on #74
Then your command should look like this:
command = /home/pi/ve/bin/python -m pi_mqtt_gpio.server config.yaml
Because the directory variable already points to /home/pi/
directory = /home/pi

Do you get any error message?

[2019-08-29 15:43] pixiandreas commented on #48
Hi

Sorry missed your answer.

I'm interested  to test tis for you.

Andreas

[2019-08-29 17:59] Alycee1993 commented on #74
i dont have folder called ve that my problem
it says  virtualenv installed fine and so did the scrip  just not sure where it has installed it to
 if i run  python -m pi_mqtt_gpio.server config.yaml in terminal  it starts fine and works
is there a file i could search for to get teh path of where it has installed

[2019-08-30 05:49] BenjiU commented on #74
Okay, after installing virtualenv, you need to create a virtual environment:
[code]
first you go to your home directory `cd /home/pi`, then you create the virtual environment in folder '/home/pi/ve' `virtualenv ve`, when this is done, you 'activate' this virtual environment `. ve/bin/activate` and at least, you install pi-mqttt-gpio in this activated environment. Have you executed these steps? The

[2019-08-30 19:48] Alycee1993 commented on #74
i have tried
`command = python -m pi_mqtt_gpio.server config.yml`
and i get the error
`pi_mqtt_gpio                     FATAL     Exited too quickly (process log may have details)`

 if i go in the logs  i get
`/usr/bin/python: No module named pi_mqtt_gpio`

[2019-09-03 14:17] oguven commented on #32
Hello,

I'm also having the same problem with DHT11.

Installed pi-mqtt-sensor and Adafruit_Python_DHT with pip (sudo privileges)

My config file works without sensor lines. When I add DHT sensor lines;

[code]

here my config.yml

[code]

[2019-09-08 08:27] Bettman66 commented on #74
I use a service.
/etc/systemd/system/piface.service
[code]

[code]

[2019-09-08 12:07] rbswift commented on #53
Yes please!

This would be great because then the AB Electronics IO Pi Plus 32 channel IO expansion board would be supported. (https://www.abelectronics.co.uk/p/54/io-pi-plus).

I see the MCP23017 is the I2C version of the MCP23S17 which uses SPI and is used on the piface2 expansion board which is already supported.

I'm currently using piface2 successfully but need more IOs

[2019-09-08 12:13] rbswift commented on #53
there is actually some sample code here that might be useful...

https://github.com/abelectronicsuk/ABElectronics_Python_Libraries

[2019-09-11 07:17] genex89 commented on #53
I Need support for MCP23017 - it has 16 I/O ports. News about this?

[2019-10-13 15:04] S-Przybylski commented on #55
Dear @flyte
today i tested your docker image. It seems that the image is prepared for Intel/AMD CPUs. It doesn't run on RASPI 3 ...
Cold you please check to correct the target platform to ARMv7?

[2019-10-15 10:15] Misiu commented on #53
Home Assistant recently added MCP23017 support - https://github.com/home-assistant/home-assistant/pull/23127 maybe this code will be useful

[2019-10-30 10:57] RezzZ commented on #55
I also would love to run this on an actual raspberry pi, please support armv6+ so we can run this 😄

[2019-10-30 13:49] RezzZ commented on #55
so grabbed the repo and changed the first line of the Dockerfile to
[code]
one step further but I get the error
[code]
I mapped the proper gpio port to docker: `/dev/gpiomem`
so not sure why this docker is giving this error. Tried setting privileged mode but it doesn't help and is not really how I want to setup this container.

[2019-10-30 16:25] flyte commented on #55
@RezzZ did you use `--device=/dev/mem:/dev/mem --device=/dev/gpiomem:/dev/gpiomem` in your `docker run` command?

If that doesn't work, perhaps try starting from a raspbian image and installing Python etc.? https://hub.docker.com/r/raspbian/stretch

[2019-10-30 16:28] flyte commented on #55
It may also be an issue with permissions. Double check which user owns the `/dev/mem` device inside the container, and make sure that user exists and is the one the process is running as within the container. That, or run as root in the container, at least to test it with.

[2019-10-31 12:39] RezzZ commented on #55
so far I've tried (in docker-compose):
[code]
the container keeps rebooting. I'll see if I can send a command in the few seconds the container is live to check user permissions to /dev/mem /dev/gpiomem

[2019-10-31 12:59] RezzZ commented on #55
the user that has acecss to /dev/gpiomem is root:997. The user you create in the docker container (mqttgpio) doesn't seem to have access. I'll dive in a bit more to find out how to solve this

[2019-10-31 13:41] S-Przybylski commented on #55
Dear @RezzZ
perhaps you could add a additional groups to the user (docker-compose.yaml):
[code]
I tried to enable pcf8574 support for a node-red package to avoid maximum rights. Here are my results (docker-compose.yaml).
[code]

[2019-11-01 09:07] RezzZ commented on #55
@S-Przybylski `group_add` is no longer supported in v3 of docker-compose. I'm looking into alternatives atm for newer compose files (eg. changing the Dockerfile and assigning groups already inside the image)

[2019-11-01 09:34] RezzZ commented on #55
new Dockerfile that works on rpi3b+. Total of three changes:
line 1: added arm32v7 to specify a raspberry (2+) compatible python image
line 8: add usergroup gpio with gid 997
line 9: assign uid 1000 and gid 997 to user mqttgpio (uid 1000 is not really needed though)

[code]
next todo:
reduce filesize as this container is massive compared to what it should do for me, which is (only) publish state c

[2019-11-01 11:29] RezzZ commented on #55
hmm now that the container is running stable I tried setting up a simple input sensor (door sensor) but my knowledge of setting this up via python is a bit limited. I had this sensor hooked up in [HomeAssistant](https://www.home-assistant.io/integrations/rpi_gpio/) (which has default pull mode = UP) using this simple config:
[code]
I tried converting this logic to pgiomqtt:
[code]
but this doesn't

[2019-11-01 11:46] RezzZ commented on #55
and we keep learning 😄
the pin nr required in the config.yml is not the actual pin nr of your raspberry pi but the GPIOnr.
pin nr 35=GPIO19, so the config want `pin: 19`.
![image](https://user-images.githubusercontent.com/70499/68022770-8ef90a80-fca5-11e9-9b1a-39eaac58d92b.png)
[source ](https://www.raspberrypi-spy.co.uk/2012/06/simple-guide-to-the-rpi-gpio-header-and-pins/#prettyPhoto/0/)

[2019-11-01 23:22] RezzZ commented on #55
update on useing the python slim image. first try ended with a gcc not found error. After adding the installation of gcc it works. Filesize reduces from 786.9 MB to 226.4 MB. Next I'll try alpine

Dockerfile:
[code]

[2019-11-06 09:24] RezzZ opened #75 "pulse transmitter only reporting part of pulses"
Hi, I just connected my water pulse transmitter to your mqtt-gpio but unfortunately it's only reporting some of the pulses. My pulse transmitter sends a pulse for every liter used resulting in eg 100 liters per day. mqtt-gpio only reported like 50%.. I first thought it was because of the load of the raspberry pi but after moving most of my container to a different pi I still only receive two pulse

[2019-11-06 09:55] RezzZ commented on #75
hmm it might be to an issue that recently started with buster:
https://www.raspberrypi.org/forums/viewtopic.php?f=28&t=255887

[2019-11-22 21:40] dcsar1 opened #76 "Status of outputs"
Is there a way currently to get the current status of an output pin?  In other mqtt devices I am using you can send 'status' as the payload instead of ON or OFF and it will leave the current state as-is and respond with what that state is.

If this is not available, can it be added?

Thanks!  So far I really like pq-mqtt-gpio and plan to use it for some of my home automation project.

[2019-12-10 18:36] iondarie opened #77 "Garage door with 2 sensors"
Hello,

I have a garage door that has 2 sensors, one at each end of the line.

One activates when the door is fully open and one when it is fully closed.

Can the status of these 2 sensors be read and posted under the same topic?

Thank you

[2019-12-21 19:31] BenjiU commented on #77
Hi,

I think, that this is not possible right now.
The name of the sensor is used as "topic":
[code]

and in the code the "name" is currently used as "index" in LAST_STATES dict:
[code]
So you can't insert two sensors with the same name/topic.

If you're still working on your garage door, maybe we can help you to find a different solution. Greetings.

[2019-12-29 11:37] BenjiU commented on #76
Hi, this is currently not implemented, because MQTT is designed as PUSH-only protocol. The MQTT brooker should store all states and transmit it to new subscribers, if configuered. Maybe you need a different design in your project.

[2020-01-01 19:57] iondarie commented on #38
any news on this?

[2020-01-01 20:44] iondarie commented on #77
ok so i managed to fix my problem i found a homebridge plugin that uses 2 status topics so i can use pi-mqtt-gpio.

But now a bigger problem, every time i start the script it opens my garage door... tried every possible setting but no luck...

is there something i am doing wrong?

Also can PulseDuration be implemented for the output payload? In my case when i open/close the garage it holds the rel

[2020-01-01 20:54] BenjiU commented on #77
Very hard to tell without any information. Maybe a command is stuck in the mqtt brooker? Maybe you can use `mosquitto_sub ... -v  -t "#"` to look, what is stored there and pushed, when you subscribe your topic? Or may you post the output of your script / pi_mqtt_gpio here?

Your second point may be solved with
- with the set_on_ms option: https://github.com/flyte/pi-mqtt-gpio#temporary-set (prefer

[2020-01-01 22:05] iondarie commented on #77
python -m pi_mqtt_gpio.server porti-config.yml
Last will set on 'gates/status' as 'dead'.
MQTT client: Received CONNACK (1, 0)
Connected to the MQTT broker with protocol v3.1.1.
Subscribed to topic: 'gates/output/b_set/set'
Subscribed to topic: 'gates/output/b_set/set_on_ms'
Subscribed to topic: 'gates/output/b_set/set_off_ms'
MQTT client: Sending PUBLISH (dFalse, q1, r1, m4, 'gates/status', ... (

[2020-01-02 11:36] iondarie commented on #77
okay so i managed to make it work, but i have a problem with my reed sensors that keep jumping on/off... like in issue #48  is there any way to work around this?

Thank you

[2020-01-02 11:48] flyte commented on #75
Most likely, yes. This software polls each input in a loop, so if the pulse occurs inbetween each of the polls (100ms pause between polls), then it won't get picked up. Adding interrupts is a solution to this, but it's a work in progress that most likely won't get implemented for a while.

Any idea how long the pulses last? It might be enough to reduce or remove the sleep between polls.

Yes, it d

[2020-01-02 11:55] flyte commented on #76
@dcsar1 Exactly as @BenjiU says, this functionality doesn't currently exist on this software.

One of the ways to get around this might be to always 'retain' any messages you send to the `/set` topic for each output. That way, any software that needs to know the output state can subscribe to the same `/set` topic and get updated whenever it changes.

[2020-01-02 12:08] flyte commented on #77
Glad to hear this is fixed, and thank you again to @BenjiU for helping out :100:

I'll close this issue, and the followup issue can continue on #48.

[2020-01-02 12:08] #77 closed, assigned to nobody

[2020-01-02 12:12] flyte commented on #71
Hi @Odianosen25 I think this is out of scope for this project, but the beauty of using MQTT is that you can run multiple smaller bits of software to accomplish what you require. Perhaps try this one https://github.com/hobbyquaker/lirc2mqtt for this.

[2020-01-02 12:12] #71 closed, assigned to nobody

[2020-01-02 12:44] flyte commented on #38
@vontrapp @reestr @iondarie I've implemented this and updated the readme on the `develop` branch. Can you guys test it out before I release it? It's the new `timed_set_ms` digital output config option. For example, if you want to set the output for one second, set `timed_set_ms: 1000`.

[2020-01-02 12:47] iondarie commented on #38
Sure i will try in a few hours when i get back home.

Thank you

[2020-01-02 18:30] iondarie commented on #48
I have the same problem how can i test?

digital_inputs:
  - name: mare_closed
    module: raspberrypi
    pin: 25
    on_payload: "TRUE"
    off_payload: "FALSE"
    pullup: no
    pulldown: no
    retain: yes

[2020-01-02 20:55] iondarie commented on #38
TESTED and it works perfect! thank you

[2020-01-02 22:24] BenjiU opened #78 "travis build no longer working due to "PyYAML vs. Python is 3.4.8""
Hi flyte,

I'm working on the interrupts (https://github.com/BenjiU/pi-mqtt-gpio/pull/3), but my travis build for py3.4 crashes (see: https://travis-ci.org/BenjiU/pi-mqtt-gpio/builds/632035332?utm_medium=notification&utm_source=github_status). It also happens, when I build my or "your" develop branch.

[code]

May you reproduce this? Your the expert: how to fix this? :-D
Maybe it's because of trav

[2020-01-03 06:28] Odianosen25 commented on #71
Hello @flyte,

Thanks for the response.

That's the point, I really don't like such systems, where I need to manage multiple services/software to achieve the different things; it reduces reliability in my view, and too much over head. Unless the services are so different.

For example if your module could support LIRC, then I know running it to achieve other things, I can also use to to control IR

[2020-01-03 10:51] BenjiU commented on #78
Change it to `PyYAML>=4.2b1,<=5.2` works for me.

[2020-01-03 14:27] flyte commented on #38
OK great. Thanks for testing it. I'll release a new version in a little while.

[2020-01-03 14:32] flyte commented on #78
Cool, thanks. I'll make that change here on `develop`. Hopefully it doesn't conflict with yours.

I'd quite like to upgrade the Python version beyond 3.4, but it's important to support whichever Python version is available on Raspbian by default. I expect it's probably gone a bit higher now, but I also don't want to remove support for existing installs.

[2020-01-03 14:43] #78 closed, assigned to nobody

[2020-01-23 07:36] yozik04 opened #81 "Support for OrangePi GPIO"
This module is modified version of RPI:
https://pypi.org/project/OrangePi.GPIO/

[2020-01-23 07:37] yozik04 opened #82 "Homeassistant MQTT Discovery"
Would be great to have.

[2020-01-23 09:15] BenjiU commented on #82
Whoa, this sounds crazy :-D Is there anyone, who has knowledge about this topic/system?
https://www.home-assistant.io/docs/mqtt/discovery/

[2020-01-23 09:21] yozik04 commented on #82
Nothing crazy there. Just one additional retained mqtt post with config. If I will make this project work on my Orange Pi I can get my hands on this.

[2020-01-23 11:56] yozik04 commented on #81
Now it starts and even manages to send commands. But only from root. Will hook something real to GPIOs and verify.

[2020-01-23 14:01] yozik04 commented on #76
I'd word this request a bit differently. When service starts would be good to know current output states. Otherwise I have to post `set` topics to get current values. That would be a must have for homeassistant mqtt discovery.

[2020-01-23 14:03] yozik04 commented on #76
Service restart sets all output states to LOW. How to get this update on hass side?

[2020-01-23 14:06] yozik04 commented on #47
@BenjiU Did you had a chance to check? I have implemented that for Orange Pi in Orange Pi pull request.

[2020-01-24 13:13] #5 closed

[2020-01-24 13:28] flyte commented on #81
Resolved by #83. Thanks!

[2020-01-24 13:28] #81 closed, assigned to yozik04

[2020-01-24 13:42] flyte commented on #82
Very interesting! It'd be great to implement this. I haven't come across it before, but I did design the topics for this project to be in line with ones used with Home Assistant.

Looking forward to seeing what you come up with @yozik04! Shout if you need any help or want to discuss the best way to handle the configuration or something.

[2020-01-24 13:43] flyte commented on #69
Support has been added by #80 and will be released in the next version of the software.

[2020-01-24 13:43] #69 closed, assigned to nobody

[2020-01-24 13:45] #70 closed, assigned to nobody

[2020-01-24 13:47] flyte commented on #74
@Alycee1993 I'm closing this issue from inactivity (on my part more than anything). Have you solved this problem? If not, feel free to comment/reopen this issue.

[2020-01-24 13:47] #74 closed, assigned to nobody

[2020-01-24 14:18] kollokollo commented on #82
Good Idea. This way all the devices could be listed with a simple "mqtt-list-topics".

[2020-01-24 18:32] flyte opened #85 "Raspberry Pi GPIO interrupt debouncing not great"
I've given the interrupts a test, and while they work, I get pretty bad bouncing on a simple switch (no hardware debouncing), which triggers the interrupt on almost every 'release' as well as each 'press'.

![bounce](https://user-images.githubusercontent.com/1153496/73093622-d246cc00-3ed6-11ea-8860-3f56ee6a497e.png)

I've configured the software with `interrupt: rising` which should (and does) tri

[2020-01-24 18:35] BenjiU commented on #85
Do you have a pullup/down configured? I have the switch on a light bulb here and it works with the 100ms default bounce time, no double trigger.

[code]

[2020-01-24 18:37] flyte commented on #85
Yep, it's configured with a pulldown.

[code]

[2020-01-24 18:39] flyte commented on #85
I wonder if it's because you have `interrupt: both`, which will probably take into account the debouncing of both rising and falling edges. In which case, we'd need a way to establish whether the trigger was a rising or falling one in order to be useful.

[2020-01-24 18:44] BenjiU commented on #85
That's the problem, I guess: the library doesn't support, what interrupt occured... Then we would have to register to both interrupts (although only rising is configured) and try to recognize the interrupt level (with sleeps?!) and only transmit rising interrupts ...

[2020-01-24 22:21] Alycee1993 commented on #74
yeah got it and thats ok

On Fri, 24 Jan 2020 at 13:47, Ellis Percival <notifications@github.com>
wrote:

[2020-02-21 13:10] Arsenal10108 opened #86 "No Module dht22 found"
Kind of a novice at this so be gentle!

Seems like the exact same issue the SkySails had but he mentioned he was able to get it installed and working using included setup.py folder instead of the recommended pip install.
I am not sure how to do that so i was wondering if someone could point me in the right direction/tell me how haha

Issue I am having is that when including the type: in the YAML c

[2020-02-21 20:15] Arsenal10108 commented on #86
Making some progress it looks like the PIP install did not add the dht22.py file into the modules directory. I manually created the file and now the server executes.
I also had to add the allow_unknowns in the __init__.py as mention in #61
Looks like that got it atlease executable but it throwing this issue now.
[code]

[2020-02-21 23:45] flyte commented on #86
Hi @Arsenal10108

You're absolutely right, and it's because I haven't released a new version since that module was added. Sorry about that.

I'm going to go through the changes since the last version and push a new package to PyPI. I'll update you on here once it's done.

Sorry you ended up spending time trying to debug this!

[2020-02-21 23:52] Arsenal10108 commented on #86
It's all good! I am honestly surprised I was able to get that far! Thanks for getting back to me, I'll keep using my tasmotized D1 mini for the DHT22 updates for now.

[2020-02-22 00:01] flyte commented on #86
I've just made a new version so try upgrading with `pip install --upgrade pi-mqtt-gpio` and report back if it worked for you. It should upgrade to version `0.4.1`.

[2020-02-22 00:19] Arsenal10108 commented on #86
Fantastic! Works slick!! I am going to do some research but I figured I would throw it in here while i'm at it.
Do you know how I can change the output to Fahrenheit since I'm in the US and junk

[2020-02-22 02:04] Arsenal10108 commented on #86
nix that last one! I was able to handle it right within Home Assistant. So no biggy! Thanks!

[2020-02-22 02:04] #86 closed, assigned to nobody

[2020-02-22 11:29] flyte commented on #86
Cool, glad to hear it's working! :tada:

[2020-02-26 15:19] dpritt commented on #82
This will be a great additional feature, and bring this great bit of software in line with my ESP8266 devices, they auto-create in Hass.io
Has this been implemented in the 0.5.0 release, or is it still work in progress, I notice some extra code relating to home assistant, but I am not seeing any discovery messages being sent, do I need to put something in the  config file as I do with Tasmota devi

[2020-02-26 15:33] flyte commented on #82
Yep, this has been merged and released in `0.5.0`, but I haven't actually configured my own one yet to test it out (a bit backwards, I know). Once I've done that I'll update the readme, but it looks like you just set the following in your config:

[code]

Please try it out and update this issue with feedback if you can.

[2020-02-26 15:56] dpritt commented on #82
That was the magic bit I was missing.

Just tried it and Hass.IO discovered the device, it named it MQTT GPIO, as I have several devices is there a way to set this to a more meaningful name, like 'Heating Controller' or Irrigation' etc.?

David

Yep, this has been merged and released in 0.5.0, but I haven't actually configured my own one yet to test it out (a bit backwards, I know). Once I've done

[2020-02-26 16:15] flyte commented on #82
Ah, good feedback. I've just pushed a new version `0.5.1` which includes a new config line:

[code]

Please give that a spin.

[2020-02-26 16:59] dpritt commented on #82
That did the trick, makes this a superb bit of code to use with my Pi Zeros and Hass.

Many thanks.

David

[2020-02-26 21:02] dpritt commented on #82
I have been doing some more testing and have found a strange situation on one of my devices.

This Pi has a GPIO input set as follows, as the input goes low when on I have inverted the call.

   - name: hot_water
     module: raspberrypi
     pin: 26
     on_payload: "OFF"
     off_payload: "ON"
     pullup: yes
     pulldown: no
     retain: no

This is sent correctly as part of the MQTT message

[2020-02-26 21:32] yozik04 commented on #82
It actually should send `payload_on` and `payload_off` so hass would know how to determine them.

[2020-02-28 17:17] dpritt commented on #82
I agree it should be set, but if you read my earlier posting you will notice that I have reversed the sense of the settings on the PI as my GPIO pin goes low when 'ON'.

This sends the correct msg via MQTT, a Low Pin sends 'ON' as it should do.

But Hass reads the configuration sent and sees the reversed settings and flips it back again, a double-negative, so in the States panel (and Lovelace) a '

[2020-02-28 18:19] yozik04 commented on #82
I got your point. If I won’t send it then there will be an other problem. Maybe some new parameter for fliping?

[2020-02-29 17:25] dpritt commented on #82
I think it would work if you don't read the .yaml file but always set them as default values expected by Hass, the flipping is then done by the config file.
"payload_on" : "ON",
"payload_off" : "OFF",

[2020-02-29 18:44] yozik04 commented on #82
@flyte @dpritt has a valid point. It is very easy to change it for you. I do not think a pull request is required.

[2020-03-04 13:10] livioavalle opened #88 "Config problem"
Hi i'm trying to install on home assistant this module, but after doing the command to make the config  (python3 -m pi_mqtt_gpio.server config.yml) it gave me some error and doesnt work.
[code]

[2020-03-04 13:12] BenjiU commented on #88
Is your configfile named config.yml and located in the folder, where you execute python3 -m pi_mqtt_gpio.server **config.yml**?

[2020-03-04 13:19] livioavalle commented on #88
Oh sorry, i think i made a mistake... i didn't understand that i need to make the config file before the execution of the command... sorry

[2020-03-04 13:34] BenjiU commented on #88
No problem. Just reopen or create a new issue, if you get stuck somewhere.

[2020-03-04 13:34] #88 closed, assigned to nobody

[2020-03-08 15:40] flyte commented on #82
I wasn't sure if hardcoding the payloads would work if someone wanted to change the payloads away from the default values, so I've added an `inverted` config line to the `digital_inputs` section as such:

[code]

@dpritt would you be able to test this out by pulling the `develop` branch please?

[2020-03-09 21:00] dpritt commented on #82
Ellis,

The changes you made work a treat, the test switches I created are correctly created in HA, and the logic works.

However do you need to now include the default settings for on_payload and off_payload in the configuration file, it could get confusing. These should be sent as defaults and you only need the' inverted:' line now in the configuration yaml.

As well as the toggle switches I hav

[2020-03-11 18:35] flyte commented on #82
Indeed, I just included them in my comment for completeness.

Yeah, I suppose that could be added to the `digital_inputs` config section. Something along the lines of:

[code]

I probably won't get round to this this week, as I'm a little busy, but PRs are of course very welcome.

[2020-03-13 19:42] nicoolaro opened #89 "digital output adds "u" to the topic"
So this is strange problem, everything is integrated to Home Assistant but, push switch ON/OFF seems to be failing.

error i get is:

`03-13 19:39:02,518 mqtt_gpio (INFO): Received message on topic u'pizerocam/output/doorbell_led/set': 'OFF'
2020-03-13 19:39:02,523 mqtt_gpio (WARNING): No output found with name of u'doorbell_led''
`

but my code seems to be ok:

[2020-03-13 19:57] #89 closed, assigned to nobody

[2020-03-14 09:11] nicoolaro opened #90 "docker error"
I can't get this working on docker.
i tried

also

my config is in home/pi folder
[code]

i get error : standard_init_linux.go:211: exec user process caused "exec format error"
Am i following corect installation steps for docker (docker is installed on my Pi Zero W)

[2020-03-14 11:06] flyte commented on #90
I think the docker image isn't compatible with the ARM processor on the Pi at the moment (I know, it's a bit silly). It's on my list to build an image on the pi itself but I haven't got around to it yet. Sorry about that.

[2020-03-14 11:11] flyte commented on #89
Assuming you figured this out, but the u part is a red herring. That's just the way Python 2 represents a Unicode string.

The problem you were having (in case someone else has the problem) was that you were using a digital input instead of a digital output, and of course you cannot have a message on MQTT set the state of an input.

[2020-03-14 11:13] nicoolaro commented on #89
Yes, thank you, that was a problem in my code

[2020-03-14 11:15] nicoolaro commented on #90
Thanks, it would be great if we can have that eventually.
Maybe a silly question, Is there another method to start python script on boot except virtualenv or docker as stated in readme?
I'm not too experienced with linux

[2020-03-14 11:25] flyte commented on #90
You don't necessarily need to use virtualenv (although it's recommended), but supervisor is a relatively straightforward way.

Having said that, I'll see if I can get a docker image built today and will update this ticket with the results.

[2020-03-14 14:36] flyte commented on #90
I've created the ARM Docker images now, and updated the readme instructions to represent that. Please let me know how you get on.

[2020-03-14 14:39] flyte commented on #90
Oh, and also have a look at https://github.com/flyte/pi-mqtt-gpio/issues/55 if you run into any problems.

To be honest though, if you want the simplest way of running it, just use Supervisor as recommended in the readme 'Serving Suggestion'.

[2020-03-14 14:45] nicoolaro commented on #90
Gotcha, i'm gonna test it right now. It may fail because i'm using Pi Zero which is Arm6 (from what i've read) but i will test both options and report back.
thank you

[2020-03-14 16:21] nicoolaro commented on #90
tied on RPI3+
Got error below, i may need to look at the thread you posted above

[2020-03-15 00:02] flyte commented on #90
Ah yeah, that's the same issue as in #55. See if the comments in there fix it for you.

[2020-03-15 10:19] nicoolaro commented on #90
So i tried supervisor option too, and i just cant make it work. I tried on Pi zero and Pi 3+ too. It seems that i'm definitely doing something wrong.
Last ask , is there a way to run

as a system service. I do have another python script running great, but this seems to be a "module", if there's an easy way to write something like:

[code]

thanks for your help!

[2020-03-15 12:42] flyte commented on #90
Just use that line in `ExecStart` I assume.

If you give specifics I could help. It shouldn't be any harder than using an init script, and has some benefits over it.

[2020-03-15 13:44] nicoolaro commented on #90
followed instructions to the letter.
Supervisor status seems ok:
[code]
But no MQTT communicaiton and CPU is stuck at 100% with this:
![image](https://user-images.githubusercontent.com/51228711/76702620-652c0780-66cb-11ea-9811-e3cdd0f2588d.png)
and

![image](https://user-images.githubusercontent.com/51228711/76702671-e2f01300-66cb-11ea-86b7-c3f0cf09ce70.png)

Standalone script works

[2020-03-15 14:05] flyte commented on #90
How long have you left it at 100%? I suspect its just compiling some stuff as part of the RPi.GPIO installation.

[2020-03-15 14:24] nicoolaro commented on #90
around 20 minutes now

[2020-03-15 15:14] flyte commented on #90
What's the output in the log file? Should be `/var/log/pi-mqtt-gpio.log` if you're using the config from the readme.

[2020-03-15 15:16] nicoolaro commented on #90
[code]

every 30 seconds

[2020-03-15 15:20] flyte commented on #90
Looks like you're crossing your global Python install with the one in your virtualenv.

Could you paste your `/etc/supervisor/conf.d/pi-mqtt-gpio.conf` file please?

[2020-03-15 15:21] nicoolaro commented on #90
same as in readme

I do have "standalone" installation too, as from the readme "pip install pi-mqtt-gpio"
if it makes any difference

[2020-03-15 15:26] flyte commented on #90
Looks like you've got RPi.GPIO installed in your global Python environment, but when you run this software in the virtualenv it's not picking it up.

if it makes any difference

Yeah, could you remove the `RPi.GPIO` package from your global environment any try again? Easiest way is to make sure you're not in a virtualenv by typing `deactivate`, then do `sudo pip uninstall RPi.GPIO`.

[2020-03-15 15:28] nicoolaro commented on #90
weird

pi@rpi-zero-cam:~ $ sudo pip uninstall RPi.GPIO
Not uninstalling rpi.gpio at /usr/lib/python2.7/dist-packages, outside environment /usr
Can't uninstall 'RPi.GPIO'. No files were found to uninstall.

[2020-03-15 15:30] flyte commented on #90
:thinking:

What is the output of `pip freeze` when you're not in your virtualenv?

[2020-03-15 15:32] nicoolaro commented on #90
[code]

[2020-03-15 15:37] flyte commented on #90
Try `pip uninstall RPi.GPIO --user`, with or without sudo?

[2020-03-15 15:40] nicoolaro commented on #90
pi@rpi-zero-cam:~ $ sudo pip uninstall RPi.GPIO --user

Usage:
  pip uninstall [options] <package> ...
  pip uninstall [options] -r <requirements file> ...

no such option: --user

hahah, the pains :)

[2020-03-15 15:47] flyte commented on #90
Yeah it's really easy to get into a mess with Python packages when combining `sudo`, global installs and `apt`!

I think it might be easier to use Python 3 for this, since the environments won't clash with any global stuff.

[code]

[2020-03-15 15:50] flyte commented on #90
By the way, there's a really nice short article explaining why we use virtualenvs for Python if you're interested: https://www.dabapps.com/blog/introduction-to-pip-and-virtualenv-python/

[2020-03-15 16:01] nicoolaro commented on #90
installed python 3.

now when i update supervisor it throws
[code]

do i need to modify anything else

and thank you for the link, i'll definitely read it

[2020-03-15 16:06] flyte commented on #90
Oh, did you uninstall anything else from your global Python 2 environment? Now it looks like supervisor has broken :man_facepalming: ! (Supervisor itself is a package in your global Python 2 environment, but it's installed using apt)

Perhaps try `sudo apt-get install --reinstall supervisor`?

[2020-03-15 17:31] nicoolaro commented on #90
Same errors with ModuleNotFoundError: No module named 'RPi'
At this point, i gave up and went with system service option.
code for System Service is:

[code]
It working flawlessly now after system reboot.

@flyte thank so much for your help!

[2020-03-15 17:34] flyte commented on #90
Hah, OK! Glad you've got it working. It can be a challenge to fix a broken global Python environment.

[2020-03-15 17:34] #90 closed, assigned to nobody

[2020-03-30 15:37] pointlevel opened #91 "Installation problem"
Hello!

Great project! I have followed the installation-instructions in the readme with virtualenv and supervisor, but the script wont start.
I get this in the logfile:

`2020-03-30 16:33:28,462 mqtt_gpio (INFO): Startup                                                                                                                     Looking in indexes: https://pypi.org/simple, https://www.piwhee

[2020-03-30 15:45] pointlevel commented on #91
Find the solution:

`pip install RPi.GPIO`

[2020-03-30 15:45] #91 closed, assigned to nobody

[2020-03-31 16:01] maciaswojtas opened #92 "local loop"
I would like to add enhancement with local loop.
My usage scenario is that I want to control set of relays and light switches.
Relays defined as output GPIO and Switches as input GPIO.
I have logic implemented in NodeRed which is deployed on other machine.
Locally I want to be able to have basic setup so pair input GPIO with output GPIO to be able to working with basic scenario locally.

I would l

[2020-04-14 09:29] BenjiU commented on #92
Hi, it is also in #19 mentioned, but the "last" decision was, that this program is a "stupid" application, only listening to commands. This also avoids, that you have "logic configuration" on several machines.

[2020-04-15 12:28] flyte opened #94 "Add support for Piface Relay Plus"
Moved over from erroneously created PR #93 by @niraviry

http://www.piface.org.uk/products/piface_relay_plus/
https://github.com/piface/pifacerelayplus

[2020-04-15 12:30] BenjiU commented on #92
When I thought about your issue yesterday, I came to a new scenario: I have a raspberry connected the switches and lights of a room. The switching logic is on a different machine. So if the network connection is broken, i can't switch the light on :-(
Maybe we could add such a logic and maybe one can define, if it is always activated or only, if the mqtt connection is broken.
What basic connection

[2020-04-15 12:38] flyte commented on #92
Yeah, this has come up before, as @BenjiU says, in #19. It does make some sense, especially if the connection to the device running this software is unreliable or slow. I'd like to keep all discussion of the pros and cons to #19 though, so I'm closing this issue in favour of that one. Feel free to add comments there.

[2020-04-15 12:38] #92 closed, assigned to nobody

[2020-04-19 06:58] rbswift commented on #53
Is there any update on this? It seems like quite a popular chip. I'd really like to have 16 I/Os

[2020-04-20 04:15] ChrisEAlfred opened #95 "Proposed addition of serial port (and other streaming hardware)"
Brilliant work - I like your coding style.

I was thinking of contributing support for streaming hardware - initially serial ports (via PySerial).

Does this schema look ok to you:

[code]

[2020-04-20 07:13] BenjiU commented on #95
Hey, I like that: I have a smart meter, that gives me a serial output and is currently parsed in perl, but i want to move it to this, for example. So i would send the raw data via mqtt and parse it somewhere else.
What does your interval 0.25 mean?
My smartmeter gives an output every second: a few hundred bytes.
So we would have a background task collecting the data and send it every 0.25 sec or i

[2020-04-20 07:52] ChrisEAlfred commented on #95
The 0.25 is the stream receive polling interval in seconds.

I already have a working version - testing happily here.

As for your serial case, in past systems we have used an 'idle time' concept (also called idle line).
You buffer the data until there is a pause for more than the idle time, then send the buffer. Any character triggers the start of buffer reading.

So we could add an optional para

[2020-04-20 13:31] jfiger opened #96 "Example of pin address for BeagleBone Black"
I did not find an example of pin address for BeagleBone Black in the documentation.
 pin: P8_7 is accepted  but not working for digital output. No error message.
BTW Input pins are working.

[code]

[2020-04-21 08:55] BenjiU commented on #96
Hmm, naming should be the same, as for the used "adafruit-beaglebone-io-python" lib. So P8_7 looks good.
I could think of any "access rights". Are you running the application as root or other user, that has privileges to set pins as output? But I don't have any BeagleBone here to test :-(

[2020-04-21 09:44] jfiger commented on #96
OK. Thank you. It's working now with P8_7 both output and input. It was a topic mistake.

[2020-04-21 09:44] #96 closed, assigned to nobody

[2020-04-21 10:00] BenjiU commented on #95
Maybe I don't need the idlebuffer thing. I just set the interval to twice the frequence of my smart meter, so I get a whole buffer each transmittion, but just have to find the start :-)
Your implementation looks good. Shall we add the other parameters (as defaults with the common parameters) to the Serial() function?

- bytesize – Number of data bits. Possible values: FIVEBITS, SIXBITS, SEVENBITS,

[2020-04-21 10:58] flyte commented on #95
This is an interesting proposition indeed. Would you mind creating a PR and moving the discussion over there? It'll make it easier for us to establish what code changes are involved. Doesn't matter if it's not ready to merge yet, we can mark it as a work in progress.

Thanks!

[2020-04-22 03:13] ChrisEAlfred commented on #95
PR created feature/streams

[2020-04-29 23:51] magrigian opened #99 "startup with supervisroctl error"
Hi, I'm sorry but I'm not able to get pi-mqtt-gpio running on boot. I'm running raspbian lite on pi2.
I followed several time your great instruction and I'm able to run using command line. Unfortunately I ended all my ideas on how to solve the proble.
With supervisorctl status become "running" but I get in the log:

2020-04-30 00:35:57,351 mqtt_gpio (INFO): Startup
Looking in indexes: https://pypi

[2020-04-30 00:04] magrigian commented on #99
FIND it!  I forgot to start at least one time the program before supervisroctl update. Sorry.

[2020-04-30 00:04] #99 closed, assigned to nobody

[2020-05-08 12:50] itayraviv opened #101 "Awning control - Need help and guidance.."
Hi,
First of all, this looks awesome and might be the solution i've been looking for but i need some help with implementing it.
I currently run HA on a laptop running dockers with mosquito, HA and others.
I also have an Rpi3 at my yard for other uses. here is what i want to do:
I want to take a the awning remote control, open it up and solder wires from the buttons to the Rpi GPIO so i could simul

[2020-05-10 15:25] a-x- opened #103 "Why it subscribes to topic ‘/output... in a cycle infinitly?"
I suppose subscription is a one time action right after starting a daemon

——

**UPD**. Solution: use unique `topic_prefix` even with `discovery` option when espessially when several instances of pi-mqtt-gpio is running in the LAN

[2020-05-10 15:53] BenjiU commented on #103
Hi, do you have a log output for us please? And maybe your config.yml would be helpful. Thanks.

[2020-05-10 16:41] a-x- commented on #103
raspberry pi 1, raspbian stretch

[code]

[2020-05-10 16:44] a-x- commented on #103
[code]

[2020-05-10 16:46] a-x- commented on #103
also home assistant becomes flickering and freezing after this daemon on rpi1 started

I also have second pi-mqtt-gpio runned on another raspberry (rpi zero) in the same lan. The second one works good

[2020-05-10 16:51] BenjiU commented on #103
Yeah, something is wrong with this rpi1. because it always reconnects:
2020-05-10 19:40:37,902 mqtt_gpio (INFO): Connected to the MQTT broker with protocol v3.1.1.
2020-05-10 19:40:41,952 mqtt_gpio (INFO): Connected to the MQTT broker with protocol v3.1.1.
is it running with supervisor? Maybe something crashed and supervisor starts it again?
Have you looked into the logfiles of your mqtt client? M

[2020-05-10 16:56] a-x- commented on #103
no, I ran it manually as: `python3 -m pi_mqtt_gpio.server ~/.config/pi-mqtt-gpio.yml`

[2020-05-10 17:19] a-x- commented on #103
mqtt client? hmm,

I use mosquitto as a mqtt server, but I has not intersting logs:
[code]

[2020-05-10 17:21] a-x- commented on #103
also, /var/log/mosquitto/mosquitto.log:
[code]

[2020-05-10 17:41] a-x- commented on #103
Have any ideas?

[2020-05-10 17:42] a-x- commented on #103
while it constanly reconnecting, it partially works

[2020-05-10 17:45] BenjiU commented on #103
Is something connected to the gpios? Or you change the log level according to readme? Maybe that give some hints? Since it works on a different pi, I don't need to try to reproduce it.

Am 10. Mai 2020 19:42:45 MESZ schrieb Alexander Mextner <notifications@github.com>:

[2020-05-10 19:56] a-x- commented on #103
Ok, I make pi-mqtt-gpio log more verbose (DEBUG level):
[code]

[2020-05-10 19:59] a-x- commented on #103
and yes, configured gpio-pins are connected and working ok. I can read/write them via wiringpi cli

I cannot find any failover-cycle in your code, also.

[2020-05-11 06:45] ChrisEAlfred commented on #101
If there is only a couple of buttons you can use relays.

Otherwise, you can use 74HC4016 quad analog switches across the buttons. Or if you buzz out the key matrix, you can use 74HC4051s - one for 'row' and one for 'column' and connect their common I/O (pin 3) together.

I have used the analog switches method many times to control old synthesizer keyboards.

[2020-05-11 06:55] a-x- commented on #103
I removed `while True:`
and then I see that mqtt_pgio
1. do Startup,
2. then says: `Last will set on '/status' as 'dead'.`
3. then successfully performs:
    `MQTT client: Sending CONNECT (u0, p0, wr1, wq1, wf1, c0, k60) client_id=b'pi-mqtt-gpio-****'`
4. subscribes to topics and publishes something
5. gets acks
6. and Sends DISCONNECT

<details><summary>full log</summary>

[code]

</details>

Is

[2020-05-11 07:15] BenjiU commented on #103
What do you mean? At 2020-05-11 09:50:50,041 mqtt_gpio? This is only a trace for reading the config file.

Why have you removed this? If you remove this, than mqtt_client terminates instantly.

[2020-05-11 07:16] a-x- commented on #103
I understand. It’s temporary for more convenient log grabbing w/o repetitions

[2020-05-11 07:20] BenjiU commented on #103
then you may change the sleep(0.01) to sleep(1)
the one at the end of the loop:
[code]
maybe with the "next loop"-log.

[2020-05-11 07:27] BenjiU commented on #103
You may change the print("") in the try block to:
[code]

[2020-05-11 07:43] a-x- commented on #103
Ok, I did it,

<details><summary>a grabbed long repetitive log. Finished by ^C finally</summary>

[code]

</details>

[2020-05-11 08:02] a-x- commented on #103
I added a `connected` flag-variable, and I skip now `on_conn` operations (subscriptions and publishes) if connection was established once previously.

But it did not help with flickering home assistant due to cyclic pi_mqtt reconnections

[2020-05-11 08:09] a-x- commented on #103
Also, I added a stack trace (w/o exception) into on_conn if it’s repetitive connection:

[code]

[2020-05-11 10:10] a-x- commented on #103
I even upgraded raspbian to latest buster release...

[2020-05-11 10:24] flyte commented on #103
Looking at the logs and behaviour, it seems like the MQTT connection is dropping for some reason, and the paho-mqtt library is reconnecting by itself and re-running the `on_conn()` function each time.

I'd try using `mosquitto_sub` from the command line to check the MQTT connection independently of pi-mqtt-gpio, then if that works, probably test the `paho-mqtt` library by using some example code f

[2020-05-11 15:58] a-x- commented on #103
mosquitto_sub works good...

and I even tried on another freshly re-burned raspberry pi 3

[2020-05-11 16:01] a-x- commented on #103
I copy-pasted paho-mqtt test code as is. It prints:
[code]

then repeats something weird (my mqtt server sends it?):

[code]

[2020-05-11 16:03] a-x- commented on #103
hm,
$SYS/broker/clients/total b'7'
$SYS/broker/clients/maximum b'8'

looks like client count limit

[2020-05-11 16:05] flyte commented on #103
It's also worth testing with https://test.mosquitto.org/ to rule out any issues with your Mosquitto server.

[2020-05-11 16:09] BenjiU commented on #103
No, its a max count, not a limit: SYS/broker/clients/maximum: The maximum number of active clients that have been connected to the broker. This is only calculated when the $SYS topic tree is updated, so short lived client connections may not be counted.

Am 11. Mai 2020 18:04:10 MESZ schrieb Alexander Mextner <notifications@github.com>:

[2020-05-11 16:15] a-x- commented on #103
WOW, I stopped pi-mqtt-gpio on another raspberry in my lan
And than pi-mqtt-gpio successfully ran on this rpi!

So, finnaly, bug sounds like that: “Multiple instances of pi-mqtt-gpio in the same LAN cannot be runned”

[2020-05-11 16:19] flyte commented on #103
Ahh, right. This will be an issue with the client ID then. It's based on the `topic_prefix` config value. It wouldn't make sense to run two instances on the same `topic_prefix` (or have you found a valid use case for that?), so they should be different between your two Pis.

[2020-05-11 16:22] flyte commented on #103
I see that you're not actually using a `topic_prefix` setting. We'll need to make this potential gotcha clear in the readme.

[2020-05-11 16:24] flyte commented on #103
See the first two examples of configuration on the readme, and how it affects the MQTT topics used. Hopefully that'll explain what `topic_prefix` does.

[2020-05-11 16:57] a-x- commented on #103
Can I safely use topic_prefix with discovery option?

I used uniq names of inputs/outputs on two instances and I did think it’s enough

[2020-05-11 17:07] a-x- commented on #103
Looks like topic_prefix breaks `discovery`

[2020-05-11 17:12] a-x- commented on #103
Yes, but, names must be unique too (include prefix again)!

[2020-05-11 17:23] #103 closed, assigned to nobody

[2020-05-11 17:23] a-x- commented on #103
Thank you, guys!

[2020-05-11 17:25] a-x- opened #104 "Inverted on/off_payload when discovery option used"
Me and folks in homeassistant thread #82 have to [invert on and off payloads](https://github.com/flyte/pi-mqtt-gpio/issues/82#issuecomment-591642263)

[2020-05-11 17:36] flyte commented on #103
Glad you got it working! Thank for updating the ticket with your findings.
We'll have a look and see what we can do to avoid people hitting the same
problem in the future.

On Mon, 11 May 2020, 18:23 Alexander Mextner, <notifications@github.com>
wrote:

[2020-05-13 07:56] a-x- opened #105 "Seems pi-mqtt-gpio exclusively acquires pins"
I have other software on raspberry, that uses pins too.
For instance, I have input-pin with pir motion sensor.

When I installed pi-mqtt-gpio, my soft does not receive interruptions from the pir pin more.

Now, I cannot find: is it true, that linux does not allow multiple interruption listeners

[2020-05-13 08:22] a-x- commented on #82
hey, can we already use `ha_type` for triggers?

also, ha mqtt receive `ON` as a trigger payload by default.
And ha expect OFF trigger too. Say, I have an pir motion sensor, and config with interrupt: raising.
When trigger detects motion, HA will set state as `detected` and will keep it forever because no clear input (`OFF` payload) will receive.

Maybe you can create special trigger with regular

[2020-05-13 22:12] llevet opened #106 "crash on OrangePi zero"
I try to start on Orange Pi zero but it crash at pin configuration.

OS : Armbian_20.02.1_Orangepizero_buster_current_5.4.20

[code]

Content of pi-mqtt-gpio.yml :
[code]

[code]

[2020-05-14 13:46] llevet commented on #106
Ok find the problem.

First remove package OPi.GPIO because is in interaction with OrangePi.GPIO.

Second : in pi_mqtt_gpio/modules/orangepi.py

replace line 66 :
raise IOError("channel %d setup failed" % pin) from e
by line :
raise IOError("channel %d setup failed" % pin)

And it is working.

[2020-05-14 14:00] flyte commented on #106
Hmm, that `raise from` should be valid code. Could you let me know what version of python you're running please?

[2020-05-14 14:20] llevet commented on #106
Python 2.7.16

[2020-05-14 14:21] llevet commented on #106
Error was :

  File "/usr/local/lib/python2.7/dist-packages/pi_mqtt_gpio/modules/orangepi.py", line 66
    raise IOError("channel %d setup failed" % pin) from e
                                                      ^
SyntaxError: invalid syntax

[2020-05-14 14:22] llevet commented on #106
the ^ is on "from"

[2020-05-14 16:03] flyte commented on #106
Ah yes, it's python 3 syntax. Best to remove that for now then while we're still supporting it. I recommend changing to python 3 though if you can. 2.x is no longer supported in general now.

[2020-05-14 19:20] llevet commented on #106
Yes i agree with you for all.
Good choice to remove it at this time because the default Raspbian Buster for Pi and for OrangePi at this time is deliver by default with python 2.7.16

Maybe a note in Readme file to inform that is beter to use python 3 and adapte all syntax with it.
ex: pip install pi-mqtt-gpio -> pip3 install pi-mqtt-gpio ...

[2020-05-17 21:20] gitmirko opened #107 "raspberrypi: RuntimeError: Error accessing GPIO."
Hi,
I'm struggling with getting the docker container to access the GPIO. I'm running a raspberry pi 3B+ with raspbian. I've attached a AM2302 on pin 4 and configured pi-mqtt-gpio as follow:
[code]
This is the output of the container and the log (I've killed the container with CTRL-C):
[code]
I'm out of ideas. Could someone help me out?

Best regards
Mirko

[2020-05-18 07:55] neocit opened #108 "raspberrypi no function on GPIO output"
I have installed like described on a RaspberryPi 3 B+ with a extension relay on the pi.

**Installation**
pip install pi-mqtt-gpio
**Execution**
python -m pi_mqtt_gpio.server config.yml

**My Config yml:**
mqtt:
  host: test.mosquitto.org
  port: 1883
  user: ""
  password: ""
  topic_prefix: HG-Pool/MQTT
  status_topic: status

gpio_modules:
  - name: raspberrypi
    module: raspberrypi

digital_

[2020-05-18 08:05] BenjiU commented on #108
How do you check the status of the output pin? How does your hardware extension looks like?

[2020-05-18 08:18] BenjiU commented on #107
Hi, you do have the problem with all gpios or only via dht22/Adafruit lib?

[2020-05-18 08:30] neocit commented on #108
I have a Rpi Relay Board with 3 relais with LED state. // testet with Thingsboard they will be active.
The Relay ist this one : https://www.pi-shop.ch/rpi-relay-board
and its connected with the 40pin's on top of the raspiboard.
Raspi is connected with LAN and hdmi. Raspian Buster latest Version.

[2020-05-18 08:56] BenjiU commented on #108
I think you used the wrong pin numbering. We use BCM numbering: gpio.setmode(gpio.BCM)

Channel No. | RPi Pin No. | wiringPi | BCM | Descriptions
-- | -- | -- | -- | --
CH1 | 37 | P25 | 26 | Channel 1
CH2 | 38 | P28 | 20 | Channel 2
CH3 | 40 | P29 | 21 | Channel 3

So you should use 20, 21 or 26 instead of 37,38 and 40.

[2020-05-18 09:17] neocit commented on #108
Many Thanks. That work!
Not seen in Github description.

[2020-05-18 09:17] #108 closed, assigned to nobody

[2020-05-18 10:01] BenjiU commented on #105
Do you use the same pin in different applications? This might not work. But different Pins in different applications should work, i guess.

[2020-05-18 10:10] flyte commented on #105
I'd have to double check, but I seem to recall only one instance of the RPi.GPIO library being able to use the GPIO pins at a given moment. If the underlying library doesn't support concurrent access to the GPIO device, then there's not a lot we can do really. Happy to be proven wrong though!

[2020-05-18 20:22] gitmirko commented on #107
I've just tried adding an normal pin as output, but even with passing an additional device I get another kind of error:
[code]

[code]

[2020-05-19 08:28] BenjiU commented on #107
https://docs.docker.com/engine/reference/run/#runtime-privilege-and-linux-capabilities says, that you can use --device, if you don't want to use --privileged. May you check one without the other: just --privileged or --device=?
syntax on help page, looks different:
`docker run --device=/dev/sda:/dev/xvdc`

[2020-05-19 11:32] neocit opened #109 "Add more than one DS18B20 not possible?!"
First of all great Projekt and worked great. Thanks

Now i need support or help to install my DS18B20 temp sensor's.
I have tried with the following config in yml.

`sensor_modules:
  - name: Luft
    module: ds18b
    type: DS18B20
    address: 0516c00797ff

 - name: Wasser
   module: ds18b
   type: DS18B20
   address: 0416c25554ff

  - name: Solar
    module: ds18b
    type: DS18B20
    address:

[2020-05-19 12:30] BenjiU commented on #109
Hi, something is mixed up in your config.yml. This works for me:
[code]

[2020-05-19 13:05] neocit commented on #109
Many, many Thanks. Now it works! Great.

Changed it like you have it.
sensor_modules:
  - name: ds18b20_1
    module: ds18b
    type: DS18B20
    address: 0516c00797ff

sensor_modules:
  - name: ds18b20_2
    module: ds18b
    type: DS18B20
    address: 0416c0097fff
...

sensor_inputs:
  - name: Luft
    module: ds18b20_1
    interval: 60
    digits: 2

  - name: Solar
    module: ds18b20_2
    in

[2020-05-19 13:05] #109 closed, assigned to nobody

[2020-05-19 20:39] gitmirko commented on #107
I've just tried only with _--privileged_ and another try specifying the devices with the syntax from the linked documentation. No luck at all:
[code]

[code]

[2020-05-24 16:05] jaburges opened #110 "MQTT Client IDs the same in multiple instances - info"
Hi there,
Not sure how the client ID is generated but using 1 instance on a pi zero W for a Dryer door switch, and now looking at making a doorbell button & camera on a pi 4.
However Client ID is the same and thus kick each other off the MQTT broker.
[code]

`client_id` is a config option, but I couldn't see it in the instructions (not to say it isnt there, i may have missed it) - but found it in

[2020-05-30 09:57] flyte commented on #110
Thank for the info @jaburges

I'll add a review of the client ID generation to our list of tasks for the next release.

[2020-05-30 10:02] flyte commented on #101
Hi @itayraviv
I'm going to close this issue as it's not really related to a project issue. I hope @ChrisEAlfred helped answer your question though. If not, perhaps the Home Assistant forums might be a more suitable place for the discussion.

[2020-05-30 10:02] #101 closed, assigned to nobody

[2020-05-30 10:05] flyte commented on #104
Thanks for the separate Issue. I'll add this to the list of things to review before the next release.

[2020-05-30 10:09] flyte commented on #105
[This article](https://www.wbga.ca/14/) suggests that multiple processes should be able to access the RPi GPIO simultaneously, so I'll add this to the list of things to review before the next release.

[2020-05-30 11:29] #106 closed, assigned to nobody

[2020-05-30 11:56] #110 closed, assigned to nobody

[2020-05-30 12:27] flyte commented on #105
Hmm, I've tested this out using two instances of pi-mqtt-gpio on the same pi, with different MQTT client IDs, configured to look for the same pin interrupt and it works fine. I get both interrupts reported:

[code]

I can't speak for your other application, @a-x- but it seems like this one is able to share interrupts at the same time. I'll close this for now, but I'd be happy to see evidence to th

[2020-05-30 12:27] #105 closed, assigned to nobody

[2020-05-31 15:28] ebekebe commented on #55
I made some suggestion in #112 including a proposal for a Dockerfile with alpine base. I would love your feedback.

[2020-06-17 18:55] IlmLV commented on #107
same issue for me

[2020-06-17 19:07] IlmLV commented on #55
its not built for armv6, I have tried to locally build Dockerfile but there is almost no support for armv6 for base image to rely on for building on RPI zero, gave up, switched to RPI 3b

[2020-06-20 09:03] niraviry opened #113 "Two Digital Outputs error"
I have tried to use two digital outputs on 2 different pins. The only difference between the two is the name.
Once I add the 2nd output, I get an error in the pi_mqtt_gpio.log on the 2nd output :
-1
  - off_payload
      - unknown field

The on_payload and the off_payload were set to "ON" and "OFF", "on" & "off" as well as "OPEN" and "CLOSED". The error is still there.
The error causes the yaml fi

[2020-06-20 09:26] flyte commented on #113
Hi @niraviry could you please provide your configuration file, with any sensitive information such as usernames and passwords removed?

[2020-06-20 19:17] niraviry commented on #113
Not in a position to do that now but it is about the same as in the readme.

[2020-06-22 15:34] niraviry commented on #113
Here is the code:

[code]

I have omitted the start of the yml file as it contains private info.
Once I add the 2nd output I/O, I get the above error.
If I remove the off_payload and on_payload, I get error that these definitions are missing.

[2020-06-23 14:25] niraviry commented on #113
I have closed the issue by mistake.

[2020-06-24 13:09] BenjiU commented on #113
there is a typo in audio_ps_inhibit: off_playload :-)
Can you please check, if this is also in your yml file?

[2020-06-24 14:18] niraviry commented on #113
Anyone has any clue to why I get the above error?

[2020-06-24 14:24] niraviry commented on #113
That was quick. Thanks.

[2020-06-24 14:47] BenjiU commented on #113
when you fix your typo i mentioned, I don't get your error when starting with your config file.
With the type, i also get your error:
[code]

[2020-06-24 14:47] #113 closed, assigned to nobody

[2020-06-26 21:00] barista123 opened #114 "Support for Capacitive Soil Moisture Sensor"
I would like to add Capacitive Soil Moisture Sensors to my setup such as these: [Capacitive Soil Moisture Sensor](https://www.amazon.com/KeeYees-Capacitive-Moisture-Sensor-Module/dp/B07R174TM1/ref=asc_df_B07R174TM1/?tag=hyprod-20&linkCode=df0&hvadid=343269677504&hvpos=&hvnetw=g&hvrand=13432535740877640298&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9026229&hvtargid=pla-818669536757

[2020-06-27 08:52] BenjiU commented on #114
Hi, would the MCP3008 fit for you? Are you able to buy it? It has a 10bit ADC, what should be enough for your coils, right? There is also a lib for it, so wie could implement it: https://pypi.org/project/mcp3008/

Am 26. Juni 2020 23:01:09 MESZ schrieb barista123 <notifications@github.com>:

[2020-06-27 15:53] barista123 commented on #114
I do not currently have the MCP3008, but I am able to buy them.  I will be ordering the moisture sensors next week. If you can implement the lib or tell me what I need to do, I will order MCP3008 at the same time and test it.

[2020-06-27 16:24] BenjiU commented on #114
Okay, I will prepare a feature branch the next days. So you may test it :-)

[2020-06-27 16:28] barista123 commented on #114
Thanks. It will probably be next weekend before I get the parts. I will also need some basic instructions on how to pull the branch for testing.  I installed the master via pip3.

[2020-07-01 15:57] barista123 commented on #114
@BenjiU I see that you created a pull request. I should be receiving the MCP3008 today or tomorrow and will be ready to test. Please let me know how to install the branch and I will give it a try.

[2020-07-01 19:20] BenjiU commented on #114
Hi, I already wrote something, but closed the browser, bevor saving :-D
0. Enalbe spi on raspberry pi https://www.raspberrypi.org/documentation/hardware/raspberrypi/spi/README.md
1. (optional) create virtual env `virtualenv ve` enter it `cd ve` and activate it `. bin/activate`
2. clone the project `git clone https://github.com/flyte/pi-mqtt-gpio.git`
3. checkout the feature branch `git checkout fe

[2020-07-03 17:49] barista123 commented on #114
Trying to checkout the feature and keep getting this error

fatal: not a git repository (or any of the parent directories): .git

[2020-07-03 19:25] barista123 commented on #114
Had to rebuild my pi. Just getting a chance to test. Got this error on startup

2020-07-03 14:22:24,341 mqtt_gpio (INFO): Startup
Looking in indexes: https://pypi.org/simple, https://www.piwheels.org/simple
Collecting RPi.GPIO
  Downloading https://www.piwheels.org/simple/rpi-gpio/RPi.GPIO-0.7.0-cp37-cp37m-linux_armv7l.whl (69 kB)
     |████████████████████████████████| 69 kB 225 kB/s
Installing c

[2020-07-04 17:37] BenjiU commented on #114
Hi barista123,

I got the same error, but I did not do the Step 0, because I don't have any spi hardware for testing. Can you see device /dev/spi0.0? `ls /dev/spi0.0`?
This Post https://github.com/hackerspacesv/I32CTT/issues/1 says, we have spi0.1? may you confirm that?

[2020-07-04 23:45] barista123 commented on #114
ls /dev/spi0.0 and /dev/spi0.1 report "no such file or directory"

It appears that the device is "/dev/spidev0.0" and "/dev/spidev0.1"

I discovered this by running "ls /dev/spi*"

Let me know what I can do next.

[2020-07-05 11:44] barista123 commented on #114
Round two: I get this now (discovered that my spi were not enabled on first try)

2020-07-05 06:43:50,139 mqtt_gpio (INFO): Startup
Traceback (most recent call last):
  File "/usr/lib/python3.7/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "/usr/lib/python3.7/runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "/srv/ve/lib/python3.7/site-packages/pi_m

[2020-07-05 11:47] BenjiU commented on #114
But you are on the the "feature/mcp3008" branch`git status`? Does the file mcp3008.py exists?

[2020-07-05 12:11] barista123 commented on #114
On branch feature/mcp3008
Your branch is up to date with 'origin/feature/mcp3008'.

nothing to commit, working tree clean

Where would I find the mcp3008.py file? I'm not seeing it in the directory

[2020-07-05 12:13] barista123 commented on #114
Looks like it was an error in the way I was calling the program. It now started up, without error. Let me plug my sensor back in and see if I get any readings

[2020-07-05 12:32] barista123 commented on #114
It appears to have gotten past the error, but I am not seeing any output from the sensor. Is it because we have not told the system which of the 8 channels to monitor?

I am setting up another program real quick to see if I get any output to confirm that my hardware is working

[2020-07-05 12:38] BenjiU commented on #114
By default it should read CH0. Otherwise you may configure it with the channel parameter:
[code]

[2020-07-05 12:55] barista123 commented on #114
using these instructions, I have confirmed that the sensor works: https://learn.adafruit.com/raspberry-pi-analog-to-digital-converters/mcp3008

I will try assigning the channel and see if that helps.

[2020-07-05 12:58] barista123 commented on #114
Now getting this error:

/srv/ve/pi-mqtt-gpio/pi_mqtt_gpio/server.py:728: DeprecationWarning: fractions.gcd() is deprecated. Use math.gcd() instead.
  cycle_time = reduce(lambda x, y: gcd(x, y), arr)
Exception in thread pi-mqtt-gpio_SensorReader:
Traceback (most recent call last):
  File "/usr/lib/python3.7/threading.py", line 917, in _bootstrap_inner
    self.run()
  File "/usr/lib/python3.7/thre

[2020-07-05 13:08] BenjiU commented on #114
Hi, I fixed something: please do a `git pull` and try it again :-)

[2020-07-05 13:18] barista123 commented on #114
Getting closer. . .
That got it past the error, but now I get a sensor value of 0 regardless of the input

[2020-07-05 13:24] BenjiU commented on #114
I added some traces for debugging `git pull`. Please attach the "MCP3008: xxx" traces.

[2020-07-05 13:36] barista123 commented on #114
2020-07-05 08:35:44,788 mqtt_gpio (INFO): Startup
Traceback (most recent call last):
  File "/usr/lib/python3.7/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "/usr/lib/python3.7/runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "/srv/ve/pi-mqtt-gpio/pi_mqtt_gpio/server.py", line 1216, in <module>
    main(args)
  File "/srv/ve/pi-mqtt-gpio/pi_mqtt_g

[2020-07-05 13:40] BenjiU commented on #114
sorry, my fault. :-( Please pull again!

[2020-07-05 13:46] barista123 commented on #114
Got this:

When I ended the program with "ctrl+ c" I got this:

  self.io.cleanup()

In contrast, the AdaFruit example that I linked above returns this:

root@DietPi:/srv/ve1# sudo python3 simpletest.py

[2020-07-05 13:51] barista123 commented on #114
I should clarify, the second readings are from a dry sensor. A wet sensor provides the following readings:

root@DietPi:/srv/ve1# sudo python3 simpletest.py
Reading MCP3008 values, press Ctrl-C to quit...
|    0 |    1 |    2 |    3 |    4 |    5 |    6 |    7 |
---------------------------------------------------------
|  445 |    2 |    2 |    2 |    3 |    4 |    4 |    6 |
|  445 |    7 |    7

[2020-07-05 13:55] BenjiU commented on #114
Okay, I'll try to implement the Adafruit lib :-) but I can't start before this evening.

[2020-07-05 13:57] barista123 commented on #114
Thanks. I appreciate the help.

[2020-07-05 18:39] BenjiU commented on #114
Hi, I implemented the Adafruit lib. Please pull and run python3 with sudo. When i use python2, it can't load the adafruit lib.
`sudo python3 -m pi_mqtt_gpio.server config.mcp3008.yml`

[2020-07-05 23:00] barista123 commented on #114
It appears to be working. Without a sensor installed I get a value of 3 which is comparable to the Adafruit simpletest script. I am in the process of moving the pi to a new enclosure. So I will reinstall the sensor this evening and try again.

Also, since I am using pip3, I had to manually install the Adafruit library. The script tried to use pip instead of pip3 and failed.  I got an error ( unfor

[2020-07-06 05:59] BenjiU commented on #114
Hi, sounds good. I had a look at my python environment and noticed, that `pip installs` to python3.6, but `python` runs python2.7 :-) when I manually do `pip2 install Adafruit-xxx`, I can run it with python (not python3). So maybe it works for you with `python xxx`.

[2020-07-06 12:11] barista123 commented on #114
Just tested this morning. I’m getting a reading from the sensor comparable to the test runs I ran yesterday. I will change the parameters this evening after work to confirm that it updates with changes. But it appears to be working.

Sent from my iPhone

[2020-07-07 17:10] barista123 commented on #114
I apologize. I did not get a chance to do further testing last night. I will try tonight and post my results.

[2020-07-07 17:14] barista123 commented on #114
On a different topic, I can open a different issue if appropriate. My temperature sensor, DHT22, does not like the environment that I am using it in (greenhouse). If I cannot find a suitable location, I may move to a SHT-30 (https://www.adafruit.com/product/4099). Would it be difficult to incorporate this sensor?

The system appears to be working great BTW, this is an extremely useful project.

[2020-07-07 17:17] barista123 commented on #114
Information and python library for the sensor can be found here

[2020-07-08 12:08] barista123 commented on #114
Great news, the sensor reacts as expected. It looks like this feature is working as expected. Thanks for all your help!

Sent from my iPhone

[2020-07-08 22:05] SaturnusDJ commented on #107
Same.

[2020-07-09 09:05] SaturnusDJ commented on #107
https://hub.docker.com/r/ebekebe/mqtt-gpio/ runs.

[2020-07-09 14:19] barista123 opened #116 "Digital Input - Polling"
Is it possible to poll the status of a digital input like sensors?  I am using a couple float switches to check the status of a water tank. My front end is home assistant. When the home assistant server is restarted for updates, config changes, etc. It does not retain the last known state of the float switches and defaults to off.  If I manually trigger the switch or restart pi-mqtt-gpio the state

[2020-07-09 20:50] claudegel opened #117 "piface digital not loading"
I want to use piface digital. There is a module piface2 for the piface digital 2 Cna I use this module with the old piface digital ?
When trying this module I get

[code]

[2020-07-09 21:00] flyte commented on #116
You'll probably want to use `retain` for that. For example:

[code]

[2020-07-09 21:14] flyte commented on #117
Hi @claudegel I'm not actually sure whether it works with the original PiFace. Could you provide your config through, so we can see what's causing this particular error? Just remove any sensitive things like IPs and usernames/passwords.

[2020-07-09 21:18] barista123 commented on #116
Thank you. I thought about the retain, but did not see it discussed with
respect to inputs.

On Thu, 9 Jul 2020 at 16:00, Ellis Percival <notifications@github.com>
wrote:

[2020-07-10 03:17] claudegel commented on #117
I finally got it to work. It was not clear in the doc about where to write the module name.

[code]
my error was in the name: parameter

it work perfectly whit the piface digital

[2020-07-10 08:41] flyte commented on #117
Glad to hear it! Thanks for reporting back.

[2020-07-10 08:41] #117 closed, assigned to nobody

[2020-07-10 22:11] barista123 opened #118 "Multiple DHT22"
Is it possible to included multiple DHT22 sensors? If so, how do you identify which sensor_input belongs to which dht22? I have distinguished the DHT22 in the sensor_module portion by pin number?

I apologize if this is another basic question, still trying to figure this out.

[2020-07-11 10:29] chrisnik007 commented on #116
Can you please explain how retain works in respect of digital inputs? I have similar situation, where I am monitoring a specific gpio (linked to alarm) and I would like to have a polling interval, i.e. to re-publish the mqtt message at specific intervals - similar to what you have for other sensors. Is this possible?

[2020-07-14 02:26] claudegel opened #120 "device address in ds18b module"
How do you get the address id for sensor in that module. I have a DS18B20 sensor connected to input 2 of my piface digital.
I get
[code]
Should I have dtoverlay=w1-gpio in my /boot/config.txt ?

[2020-07-14 07:16] BenjiU commented on #120
1) yes, you should have `dtoverlay=w1-gpio in your` config.txt and reboot.
2) you can get the id of YOUR sensor with `ls -l /sys/bus/w1/devices`: the last numbers are the ids:
`lrwxrwxrwx 1 root root 0 Mai 13 07:30 10-000802bf634d` -> 000802bf634d

[2020-07-15 01:46] claudegel commented on #120
Ok I've `dtoverlay=w1-gpio` activ and I've rebooted but still no go. I've found that I can do
`w1thermsensor ls` but I get `Found 0 sensors:`
My sensor is connected red on 5V, yellow on input #2 of piface digital and black on ground.
Input #2 is it ok or should I use another. My sensor is DS18B20 water proof with 3 feet cable. Once it is working I'll buy a small one.
When I launch pi_mqtt_gpio I g

[2020-07-29 17:02] overlordpy commented on #107
I am having a similar issue but I am trying to run a python script with a php file. Whenever I try to run it i get RuntimeError: No access to /dev/mem. Try running as root!. I am using apache2 to run a webserver and i have setup then index.php file to run a simple python. Anyone know how to solve this error.

[2020-08-01 11:15] aleshka2201 opened #124 "Orange pi module"
Hi!
I want use pi-mqtt-gpio with my orange pi and external mqtt server.
But I reciverd an error:

[code]

My config.yml:

[code]

Do you have any solutions?
thank you

[2020-08-01 11:16] aleshka2201 commented on #124
With my raspberry pi all works fine..

[2020-08-05 01:49] claudegel commented on #120
Ok I got it . I've plugged the data cable of the sensor directly on the GPIO 4 under the piface. Now I have this
[code]
and this
[code]

[2020-08-05 02:54] claudegel commented on #120
As this sensor is plugged directly into the GPIO4 of the raspberrypi and not on the piface, should I have more then one gpio_modules listed like this:
[code]
Or should I have two seperate  gpio_modules: entry
[code]

[2020-08-06 00:20] claudegel commented on #120
Great it's working. Here is my config for piface relay control and ds18b20 sensor on the GPIO 4. I had to plug the data cable of the sensor directly on GPIO4 under the piface.
[code]
Thanks great software for my domotic

[2020-08-06 00:20] #120 closed, assigned to nobody

[2020-08-06 07:55] BenjiU commented on #124
Hi, I think the problem is already fixed in #106
May you test the current develop branch, since it is not officially released yet, i think.

[2020-08-06 10:11] BenjiU commented on #118
Hi, sorry for the long delay. This should be possible, by different pins. But it I haven't tested it:
[code]

You name the dht22 modules different and give the name in den sensor inputs.

[2020-08-06 10:31] BenjiU commented on #116
Retain is a MQTT mechanism to store the latest value of a topic in the MQTT broker and publish it to new connected clients, so they know the latest (equal to the current value), even if the new client "missed" the value change. This makes the cyclic transmission of the same value obsolete. It works for outputs and for inputs of pi_mqtt_gpio. So you should not need to have a polling for GPIOs. For

[2020-08-06 19:04] barista123 commented on #118
I can confirm that this does work. The duplicative use of the “module” designation is where I got confused.

Sent from my iPhone

[2020-08-16 08:29] mr2c12 opened #125 "Initial output pin states"
Dear all,
this is quite similar to #76 but not really the same.

I think that the state of the output pins should be published at boot. Since we can configure the inital state for these pins, and the initial state could be different from the last one (e.g. pin is HIGH, restart, default LOW, pin is LOW but noone is notified), situations can occur where the known state of a pin is different from the

[2020-08-23 18:46] claudegel opened #126 "Support for ModMyPi PiOT Relay Board"
Does it support this relay board, ModMyPi PiOT Relay Board

[2020-08-27 02:39] claudegel opened #127 "cannot install on raspbian rpi4 latest"
When I run pip3 install pi-mqtt-gpio I get the following error
Could not install packages due to an EnvironmentError: 404 Client Error: Not Found for url: https://www.iwheels.org/simple/cerberus.
Do I need to install other dependency ?

[2020-08-27 02:51] claudegel commented on #127
Cerberus is missing ?

[2020-08-27 11:07] BenjiU commented on #126
Not complete: the relays are only attached to the gpios, that would work. But the relay board has some startup handshaking, that isn't supported yet.

[2020-08-27 23:13] claudegel commented on #126
OK if I ever receive my order for that part I'll test it and send a patch if I succeed.

Thank you

[2020-08-28 10:10] zellneralex commented on #127
It seams like all versions of cerberus get deleted from www.piwheels.org

[2020-08-29 16:36] RaimondB opened #128 "raspberrybi 3B: docker container reports: No module named 'yaml'"
When starting the image I get the logs below. It states it cannot import the yaml module.
This seems to be something wrong in the build of the docker image?

[code]

[2020-08-30 13:27] vasylkuzenko commented on #128
try "pip install pyyaml"

if will say: ModuleNotFoundError: No module named 'paho', need "pip install paho-mqtt" too

[2020-08-30 18:29] RaimondB commented on #128
I would expect that the docker image already contains all needed dependencies. So the dockerfile should be fixed then?

[2020-08-30 20:41] claudegel opened #129 "Auto start not working"
I've added to /etc/rc.local just before the last line exit 0
`python -m pi_mqtt_gpio.server /home/pi/config.yml &`
to have the program started automatically. But it fail somehow.
If I start it manually with
`python -m pi_mqtt_gpio.server /home/pi/config.yml`
It work ok
Where can I check to find out what is going wrong ?
My config
[code]

[2020-08-31 00:24] #126 closed, assigned to nobody

[2020-08-31 00:28] claudegel commented on #127
Ok I've copied over from another pi de cerberus  and Cerberus-1.3.2.egg-info dir and it is working. I still have an issue with auto startup at boot, see #129 above.

[2020-09-04 05:40] g8ry commented on #129
I've put in the whole path and without the '-m' option and this works for me.  (/etc/rc.local)

`/usr/bin/python3 /usr/local/lib/python3.7/dist-packages/pi_mqtt_gpio/server.py /home/pi/config.yml &`

[2020-09-04 05:48] g8ry commented on #127
add this line to your /etc/pip.conf

`--extra-index-url=https://pypi.org/project`

then execute

`pip3 install Cerberus`

[2020-09-04 05:53] g8ry opened #130 "Add Wifi Strength"
Would it be possible to add the Pi's current Wifi strength sent via MQTT on a regular interval.

[2020-09-05 01:10] claudegel commented on #127
That work. I was able to install Cerberus.

[2020-09-06 00:31] claudegel commented on #129
I was able to install on my raspi 4 but I can just start manually via
`sudo /usr/bin/python3 /usr/local/lib/python3.7/dist-packages/pi_mqtt_gpio/server.py /home/pi/config.yml &
`
But if I put that lline in /etc/rc.local (without sudo) it do not work. My pi is connected to a card with 3 relay. When I start manually, relay 1 and 2 are down and relay 3 is up. But when I reboot, all three relay become

[2020-09-06 15:37] claudegel commented on #129
Ok I've added the following line in rc.local, just above line saying # Print the IP address:
` exec > /tmp/rc-local.out 2>&1;set -x`

and I got the following error:
[code]
so pi_mqtt_gpio start before the network is established and crash because there is no mqtt server. That's why I can start it manually but not via rc.local

How can I delay pi_mqtt_gpio to wait until network is up

[2020-09-06 16:18] claudegel commented on #129
Got it... I've added a delay before starting pi_mqtt_gpio and it work
[code]

[2020-09-13 20:24] #127 closed, assigned to nobody

[2020-09-13 20:28] #129 closed, assigned to nobody

[2020-09-16 19:16] Machu95 opened #131 "High output after restart"
I have a problem. Everything works fine, but when I restart the Pi and when pi-mqtt-gpio start, it puts high state on the GPIO pin defined in config. What I do wrong?

Config:
mqtt:
  host: xxxx
  port: 1883
  user: xxxx
  password: xxxxx
  topic_prefix: rasp/garaz
  discovery: yes
  discovery_prefix: homeassistant
  discovery_name: garaz

gpio_modules:
  - name: raspberrypi
    module: raspberryp

[2020-09-17 09:21] #131 closed, assigned to nobody

[2020-09-30 03:42] claudegel opened #135 "SuperPi-case-J"
Can you tell me if this board is supported
https://www.52pi.com/cases-heatsinks-fans/30-superpi-case-j.html

[2020-09-30 11:56] BenjiU commented on #135
Hi, from your link i googled this wiki page:
https://wiki.52pi.com/index.php/DockerPi_4_Channel_Relay_SKU:_EP-0099
according to the information there, it is currently not supported, because it is connected via i2c.
But there is a short example, that may be implemented easily.

[2020-10-07 12:49] terminet85 opened #136 "Digital outputs multiple pin, same topic"
There is any change to turn on/off multiple pin with the same mqtt topic?

RPi.GPIO module should be able to manage it
`chan_list = [11,12]    # add as many channels as you want!
                       # you can tuples instead i.e.:
                       #   chan_list = (11,12)
GPIO.setup(chan_list, GPIO.OUT)
`

[2020-10-08 00:12] claudegel commented on #135
I've produce a module for it dockerpi.py
How can I test it locally before submitting it. Do I need to just copy that file to /usr/local/lib/python3.7/dist-packages/pi_mqtt_gpio/modules ? dio I need to erase `__pycache__` dir and restart my pi

[2020-10-08 13:36] terminet85 commented on #136
I've made a PR in order to fix schema check.
RPi.GPIO  are already capable to manage lists, so the problem was only in the config check.

[code]

[2020-10-13 23:13] aerodolphin commented on #53
Any update on this? I came from openhab, and I would like to use my expander boards That I develop with MCP23017.

I have some boards with 48 I/O and another boards with 32 I/O. It's very useful for everyone like me that want to have a lot of wired sensors and switches.

[2020-10-14 15:57] aerodolphin commented on #74
I'm getting the same error:

pi_mqtt_gpio FATAL Exited too quickly (process log may have details)

Alycee1993 how you fix it?

[2020-10-14 16:55] aerodolphin commented on #35
I'm getting the same error:
"/home/aerodolphin/ve/bin/python: No module named pi_mqtt_gpio"

What could be wrong?

[2020-10-14 17:04] BenjiU commented on #35
May you provide more info about your scripts and yours? Is pi-mqtt-gpio installed as root user, if your script starts it as sudo?

Am 14. Oktober 2020 18:55:50 MESZ schrieb aerodolphin <notifications@github.com>:

[2020-10-14 19:03] aerodolphin opened #138 "Installation errors"
When I write this on VE:

`sudo supervisorctl status`

I got this error:

`pi_mqtt_gpio                     FATAL     Exited too quickly (process log may have details)`

In supervisor.log I have this:

[code]

When I run:

`/home/aerodolphin/ve/bin/python -m pi_mqtt_gpio.server pi-mqtt-gpio.yml`

I got this error:

`/home/aerodolphin/ve/bin/python: No module named pi_mqtt_gpio`

During the install

[2020-10-14 19:54] aerodolphin commented on #35
@BenjiU

I opened a new issue with more information about my configuration and errors.

[Installation errors #138 ](https://github.com/flyte/pi-mqtt-gpio/issues/138)

pi-mqtt-gpio was installed in "aerodolphin" user.

I followed this instructions:
[https://github.com/flyte/pi-mqtt-gpio#serving-suggestion](https://github.com/flyte/pi-mqtt-gpio#serving-suggestion)

[2020-10-14 23:38] aerodolphin commented on #138
I installed the Raspberry Pi OS (32-bit) with desktop on a Raspberry Pi 3 Model B+.

Python version 2.7.16

[2020-10-15 16:09] aerodolphin commented on #138
I re-installed the Raspberry Pi OS again and configured it like described and I confirm that is working now. Thank you.

[2020-10-15 16:09] #138 closed, assigned to nobody

[2020-10-16 10:18] secuspec opened #139 "Security issue and usage with Brewblox (pi-mqtt-gpio 0.5.1 has requirement PyYAML<=5.2,>=4.2b1, but you'll have pyyaml 5.3.1 which is incompatible.)"
pi-mqtt-gpio would be an interesting addition to Brewblox (https://brewblox.netlify.app) a brewery control platform.
Brewblox currently uses pyyaml 5.3.1, while pi-mqtt-gpio requires version 0.5.1.

Also there's a security vulnerability that should be fixed by a newer version: https://nvd.nist.gov/vuln/detail/CVE-2020-1747
Is there a chance to upgrade pi-mqtt-gpio to the later version?

Thanks,
St

[2020-10-16 10:26] aerodolphin opened #140 "Error Installing pcf8574 & pcf8575 modules"
When I install the modules pcf8574 and pcf8575 inside the virtual environment I got the error in the end:

`Command "python setup.py egg_info" failed with error code 1 in /tmp/pip-install-qGDNFX/smbus-cffi/`

I got from the log:

[code]

How to solve it?

[2020-10-16 10:50] aerodolphin commented on #140
This solved the problem:

[code]

[2020-10-16 10:50] #140 closed, assigned to nobody

[2020-10-16 11:17] aerodolphin commented on #6
I installed the next modules:

[code]
But I'm getting always the same error in the log:

`ImportError: No module named pcf8574`

or

`ImportError: No module named pcf8575`

What could be the problem?

[2020-10-16 11:27] aerodolphin commented on #6
When I try to remove the modules with command:

`sudo apt-get --purge remove pcf8574`

I got this message:

`E: Unable to locate package pcf8574`

It means that the package was not installed?

[2020-10-16 13:16] aerodolphin commented on #53
Can someone give some guidance to develop this new module or make it? I can pay for the job.

Maybe the module pcf8575 will work.

[2020-10-16 14:12] flyte commented on #139
Yep, I'll spend some time this weekend sorting out some of these issues including bringing this up to date.

I'd certainly be up for helping to integrate more readily with your software, as I'm into brewing beer too!

[2020-10-16 14:21] flyte commented on #53
Hey, sorry for the delay. Is there an existing Python MCP23016 library that we could use for integration? If so, it's a relatively simple job of copying one of the other modules for reference and modifying it to work with the different library.

[2020-10-16 14:25] flyte commented on #53
I've just read the rest of the comments.. Ideally we'd use some kind of pip-installable package that enables control of the MCP23017. I suspect there is something usable, and I'll have a look this weekend.

[2020-10-16 14:30] aerodolphin commented on #53
The is some Python libraries on the internet. Here you have two examples:

[https://pypi.org/project/RPi-MCP23017/](https://pypi.org/project/RPi-MCP23017/)

[https://github.com/owainm713/MCP230XX-Python-Module](https://github.com/owainm713/MCP230XX-Python-Module)

Maybe can be useful. Thanks for the help.

I will share after the hardware info that can be used by anyone.

[2020-10-17 14:55] flyte commented on #139
The PyYAML requirement is now `>=5.3.1` on the `develop` branch. I'll make a new release shortly.

[2020-10-17 14:55] #139 closed, assigned to nobody

[2020-10-17 14:57] secuspec commented on #139
Excellent 👍

Will upgrade and test.

Best regards,
Steffen

Von meinem iPad gesendet

[2020-10-17 15:18] #114 closed, assigned to nobody

[2020-10-17 16:46] flyte commented on #136
Hi, thanks for your work on this.

It's a good idea, but as far as I'm aware, your PR would break compatibility with all of the other output modules, such as `pcf8574` which has a `set_pin()` implementation of:

[code]

As you can see, the `pin` value cannot be a list in this example.

In order to implement this, we'd need to establish which modules' underlying libraries are able to take lists of

[2020-10-17 17:06] #118 closed, assigned to nobody

[2020-10-17 17:08] #124 closed, assigned to nobody

[2020-10-17 19:11] flyte commented on #125
I've made an option to publish the value of the output on startup and added instructions to the readme (see commits above). I'm not in a position to test it out at the moment, but please let me know if it works for you if you do. Otherwise I'll test it as soon as I can, and make a new release.

[2020-10-18 10:07] flyte commented on #130
Hmm, I suspect there's a better tool for this job. Since we're talking about MQTT, another process could run, or use cron, periodically publishing telemetry about the Pi, such as its Wi-Fi signal strength, CPU temps etc.

I don't think it's something suitable for inclusion in this project.

[2020-10-18 10:07] #130 closed, assigned to nobody

[2020-10-18 10:28] mr2c12 commented on #125
Any way to get the required changes in my virtualenv+pip installation?

Edit: replaced my local folder
mqttgpio/lib/python3.7/site-packages/pi_mqtt_gpio
with content from
pi_mqtt_gpio
from the github repo.
Not working, maybe I just did something useless. Pi-mqtt-gpio starts but completely ignore the new setting:

[code]

Probably my fault.

[2020-10-18 15:05] flyte commented on #125
Nah it's probably mine! I'll give it a test myself in a while. Cheers

[2020-10-18 15:16] flyte commented on #125
OK, I fixed the issue - I was trying to publish before connecting to MQTT :)

@mr2c12 Please give develop another pull and try again!

[2020-10-18 15:23] #116 closed, assigned to nobody

[2020-10-18 16:29] flyte opened #141 "Asyncio core rewrite testing"
I've built an asyncio version of the core, which I'd like people to help me test before I inflict it on the general public. It's on PyPI as [mqtt-io](https://pypi.org/project/mqtt-io/). The code for it exists within `feature/asyncio`, and for the most part, it should work with existing config files.

Please use this Issue or [Discord](https://discord.gg/gWyV9W4) to discuss your experiences.

## In

[2020-10-19 09:51] aerodolphin commented on #53
Here is a photo of the 48Ch expander that I developed to expand the Raspberry Pi GPIO IOs by I2C with MCP23017 multiplexers.

![48CH_gpio_expander](https://user-images.githubusercontent.com/491062/96429486-84a28a00-11f0-11eb-9d3c-0b17c2e4ec7d.jpg)

[2020-10-19 10:24] Misiu commented on #53
@aerodolphin this looks awesome 👍🎉🚀
Are you planning to release the schematics? I'd like to make one to use this with Home Assistant (it supports MCP23017)
I don't need 48 I/O, 30 will be enough, but maybe in the future, they will be used.

[2020-10-19 10:46] aerodolphin commented on #53
@Misiu Yes, I will release the schematics and also can sell the PCB board and components assembled or in kit. As soon as finish all the tests.

[2020-10-19 10:51] Misiu commented on #53
@aerodolphin I need this for a school project, so I'll try to build one on my own or buy it if the price will be good (sadly a low budget), but please let me know when tests are over. Really looking forward to this!

[2020-10-19 10:58] flyte commented on #53
Looks great, good work @aerodolphin !

I worked on this project most of the weekend but this Issue slipped through the net I'm afraid. I'll try to make some progress with it this week.

[2020-10-19 11:07] aerodolphin commented on #53
Thank you @flyte Your help will be much appreciated.

Will be very usefull for wired systems for Smart Homes with Home Assistant or Openhab.

[2020-10-20 07:32] g8ry opened #142 "Docker reporting its not a pi"
I'm running a Pi 4B and I've just used the following command to build the container... Am I missing something ?

docker run -d --name=mqtt-gpio --privileged -v /apps/docker/mqtt-gpio/config.yml:/config.yml flyte/mqtt-gpio:armv7l

The logs inside the container are showing the following:-

2020-10-20 07:22:05,889 mqtt_gpio (INFO): Startup
Collecting RPi.GPIO
  Downloading RPi.GPIO-0.7.0.tar.gz (30 k

[2020-10-20 14:11] g8ry commented on #142
After some investigation, I only get the error when I have the 'digital_inputs' in my config. If I remove it and leave my other inputs/modules in there, it works fine.

gpio_modules:
  - name: raspberrypi
    module: raspberrypi

digital_inputs:
  - name: button
    module: raspberrypi
    pin: 21
    on_payload: "ON"
    off_payload: "OFF"
    pullup: yes
    pulldown: no

[2020-10-20 19:05] mr2c12 commented on #125
Sorry for the late reply.

Actually it is working (i.e., publishing on start) but there is something wrong in the data published.

Consider my config.yaml:

`digital_outputs:
  - name: pin_buzzer
    module: raspberrypi
    pin: 22
    on_payload: "ON"
    off_payload: "OFF"
    initial: low
    retain: no
    publish_initial: yes
  - name: pin24_led
    module: raspberrypi
    pin: 24
    on_payl

[2020-10-28 16:25] tkranz opened #143 "could you add BME280 I2C support ?"
Hi, great project !

is it possible to add the above device ?

thanks
Thomas

[2020-10-28 17:19] adrian-vlad commented on #143
Hi. It's already there: https://github.com/flyte/pi-mqtt-gpio/blob/develop/pi_mqtt_gpio/modules/bme280.py.
Probably not released on pypi yet.

[2020-10-29 11:34] tkranz commented on #143
is there any example ? i have installed the new version, but get the below error

Last will set on 'mqtt1/status' as 'dead'.
Traceback (most recent call last):
  File "/usr/lib/python2.7/runpy.py", line 174, in _run_module_as_main
    "__main__", fname, loader, pkg_name)
  File "/usr/lib/python2.7/runpy.py", line 72, in _run_code
    exec code in run_globals
  File "/usr/local/lib/python2.7/dist-p

[2020-10-29 15:46] tkranz commented on #143
have reinstalled the full pkg but still the follwing error

`
2020-10-29 16:39:49,845 mqtt_gpio (INFO): Startup
Traceback (most recent call last):
  File "/usr/lib/python2.7/runpy.py", line 174, in _run_module_as_main
    "__main__", fname, loader, pkg_name)
  File "/usr/lib/python2.7/runpy.py", line 72, in _run_code
    exec code in run_globals
  File "/usr/local/lib/python2.7/dist-packages/pi_mq

[2020-10-29 16:13] adrian-vlad commented on #143
Did you try running it with python3?

I've only tried it with python3. If you cannot switch to python3, I will try to reproduce your setup with python2 and see if I can figure what the problem is.

[2020-10-30 12:40] tkranz commented on #143
ok, with python3 it works but receive wrong values, could you post your setup here ?

root@mqtt1:/home/pi# python3 -m pi_mqtt_gpio.server /home/pi/pi-mqtt-gpio.yml
2020-10-30 13:38:36,227 mqtt_gpio (INFO): Startup
/usr/local/lib/python3.7/dist-packages/pi_mqtt_gpio/server.py:730: DeprecationWarning: fractions.gcd() is deprecated. Use math.gcd() instead.
  cycle_time = reduce(lambda x, y: gcd(x, y)

[2020-10-30 13:12] adrian-vlad commented on #143
[code]

This is the relevant part

[2020-10-30 14:21] tkranz commented on #143
here the working example, no i will integrate it into openhab 👍

sensor_modules:
  - name: bme280_sensor
    module: bme280
    i2c_bus_num: 1
    chip_addr: 0x76

sensor_inputs:
  - name: bme280_temperature
    module: bme280_sensor
    interval: 15 #interval in seconds, that a value is read from the sensor and a update is published
    digits: 2 # number of digits to be round
    type: temperatu

[2020-10-30 15:09] #143 closed, assigned to nobody

[2020-10-30 15:14] tkranz opened #144 "Feature request: could you add support for ADS1115 analog/digital converter ?"
I see there is support for MPC3008, is it possible to add ADS115 as well ?

thanks
Thomas

[2020-11-02 23:48] aerodolphin commented on #53
@flyte did you made some progress?

[2020-11-04 20:35] BenjiU commented on #53
Hey, I've created a draft, but i can't test it here. It's on feature branch "feature/MCP23017". may you get it and test it, please? It is based on https://github.com/owainm713/MCP230XX-Python-Module

config should be something like:
[code]

I haven't added interrupts yet. Do you need them?

Please try it and report the errors here :-)

[2020-11-04 20:48] aerodolphin commented on #53
I can test it. But I don't know how to install that branch. Can you explain?

Interrupts are good to have, but we can keep this feature for future development.

[2020-11-04 21:03] BenjiU commented on #53
May you have a look at this answer?:
https://github.com/flyte/pi-mqtt-gpio/issues/114#issuecomment-652601513
Just replace the branch name. Does it work?

[2020-11-05 00:32] aerodolphin commented on #53
I made these steps:

[code]

Inserted your lines in my config file (pi-mqtt-gpio.yml) that is located inside the user pi directory:

[code]

Run it with this line:

`python -m pi_mqtt_gpio.server pi-mqtt-gpio.yml`

And got this errors:

[code]

I also tried to install the mcp23017 module. Don't know if it's needed:

`(ve) pi@raspberrypi:~ $ pip install MCP23017`

I got these errors:
[code]

[2020-11-05 11:10] BenjiU commented on #53
First, please make a `git pull`. I fixed something. But that does not concern your problem.

Are you in the correct directory? May you look, if there is a `pi_mqtt_gpio/modules/mcp23017.py` file?

In the config I removed the // in the chip_addr line, because yaml it doesn't like it.
[code]

When i start it, i get this output: I think it works (maybe we have to find the correct address), i get the

[2020-11-05 19:53] BenjiU commented on #141
Hi @flyte,

I just gave it a try:
1) the requirements.txt need a fix, i think. `pip3 install hbmqtt` fixed it
[code]
2) On cancel with STRG+C i got this error. But not every time.
[code]

3) python2 (Python 2.7.13) does not work, but python3.6 is okay:
[code]
But my temp, humidity and distance module work and sending mqtt messages.

[2020-11-05 20:33] BenjiU commented on #144
Hi,

may you check my implementation on branch `feature/ADS1115`? I don't have the chip here, so i can't test it.

[code]

[2020-11-05 20:34] aerodolphin commented on #53
Sorry this basic question, but how I can make the git pull? Can you write the complete command line?

[2020-11-05 20:39] BenjiU commented on #53
Of course: that would be `git pull` in the pi-mqtt-gpio directory.

[2020-11-05 20:47] aerodolphin commented on #53
I made the `git pull`. Thank you.

Got the same error.:
`ImportError: No module named mcp23017`

The location of the mcp23017.py is:
`/home/pi/pi-mqtt-gpio/pi_mqtt_gpio/modules/mcp23017.py`

Where could be the problem?

[2020-11-05 20:57] BenjiU commented on #53
Hmm, may you try `make` in pi-mqtt-gpio folder? It makes a schema for me, but fails with black....
Then try it again, please.

[2020-11-05 21:02] BenjiU commented on #53
Or something is broken with the virtual env? maybe you try it again, but without the first step (https://github.com/flyte/pi-mqtt-gpio/issues/114#issuecomment-652601513) Just clone the repo in another directory...

[2020-11-05 21:03] aerodolphin commented on #53
With make in `pi-mqtt-gpio` folder I got:

[code]

[2020-11-05 21:04] aerodolphin commented on #53
I will try without the virtual environment. What is the advantage of using the ve?

[2020-11-05 21:10] aerodolphin commented on #53
Outside the virtual environment I got the same error.

[2020-11-05 21:15] BenjiU commented on #53
May you copy&paste your whole terminal? Maybe i find something, tomorrow :-)

Am 5. November 2020 22:10:32 MEZ schrieb aerodolphin <notifications@github.com>:

[2020-11-05 21:24] aerodolphin commented on #53
I can send it to your e-mail. How can you send me your email?

[2020-11-05 22:53] aerodolphin commented on #53
I copied the config file pi-mqtt-gpio.yml to pi-mqtt-gpio directory and I got this:

I am using user aerodolphin instead of pi.

[code]

[2020-11-05 22:59] aerodolphin commented on #53
Outside pi-mqtt-gpio directory:

[code]
Inside pi-mqtt-gpio directory:

[code]

Log file:

[code]

[2020-11-05 23:08] aerodolphin commented on #53
Are you using Python 2 or 3.5?

[2020-11-06 00:42] aerodolphin commented on #53
Trying two things with MCP23017 IC disconnected.

1. Inside ve directory:
[code]
1. Inside ve/pi-mqtt-gpio directory:
[code]

And now inside ve/pi-mqtt-gpio directory with MCP23017 IC connected:
[code]

Log file on this last case:
[code]

[2020-11-06 07:26] BenjiU commented on #53
Okay.
1) Virtuel Environment just helps to keep the "local" python installation clean. When python/pip installs some packages, they are stored in the system. Especially on development and trying different modules, this may "kill" or "floud" your system. Maybe sometimes packages are incompatible.
2) when you run `python -m pi_mqtt_gpio.server pi-mqtt-gpio.yml` outside the pi-mqtt-gpio folder, you g

[2020-11-06 08:41] aerodolphin commented on #53
My pi-mqtt-gpio.yml file:

[code]

[2020-11-06 08:45] BenjiU commented on #53
By the outputs, the module must be the module_name from the module section:
[code]

[2020-11-06 09:49] aerodolphin commented on #53
Hi, stupid error. Sorry about that. I will try now after the work when I get back to home. Thanks.

[2020-11-06 10:10] BenjiU commented on #53
No problem :-) Good luck!

[2020-11-06 20:31] TBobsin commented on #142
Hello,
i get an similar error on my raspberry PI 4 8GB running with
uname -a
Linux smarthome 5.4.72-v7l+ #1356 SMP Thu Oct 22 13:57:51 BST 2020 armv7l GNU/Linux.

 `mqtt:`
  `host: mqtt`
  `port: 1883`
  `user: usrmqtt`
  `password: secure`
  `topic_prefix: haus/mqtt-gpio`
`gpio_modules:`
  `- name: raspberrypi`
    `module: raspberrypi`
`digital_inputs:`
  `- name: bwm`
    `module: raspberrypi`

[2020-11-06 22:44] aerodolphin commented on #53
I confirm that is working. I was able to control an output with Home Assistant. Next I will test some sensors.

[2020-11-07 20:10] BenjiU commented on #142
Here they figured out, it may happen with an old python version, that didn't know the new raspberry PIs (3b+ and newer). Python2 did not work, Python3.7 worked.
https://www.raspberrypi.org/forums/viewtopic.php?t=273369
May you upgrade python in your docker container to 3.7 and check, if it still occurs?

[2020-11-07 20:45] BenjiU commented on #135
The normal way would be to clone this repository and start it from there. Then you don't have to "destroy" your system installation.

[2020-11-07 23:35] g8ry commented on #142
Ive just built a new docker image with python3.7 with the relevant changes to the Pipfile and its still not working. I also tried python3.8 too.
I'll do some more testing... this is my output

Traceback (most recent call last):,
  File "/usr/local/lib/python3.7/runpy.py", line 193, in _run_module_as_main,
    "__main__", mod_spec),
  File "/usr/local/lib/python3.7/runpy.py", line 85, in _run_code,

[2020-11-08 07:50] g8ry commented on #142
I Finally fixed it... All I needed to do was the following, then everything worked fine with the existing docker image python3.6:-

chmod og+rwx /dev/gpio*

[2020-11-09 08:17] tkranz commented on #144
Great ! will test it today and let you now the results.

[2020-11-09 10:19] BenjiU commented on #54
Should be fixed with PR above

[2020-11-09 10:19] #54 closed, assigned to nobody

[2020-11-09 20:53] aerodolphin commented on #53
BenjiU, Interrupts are simple to implement?

[2020-11-09 20:56] BenjiU commented on #53
Hmm, will be some hours, i guess. Are you able to test it?

[2020-11-09 21:08] aerodolphin commented on #53
It's up to you. I think will be very useful to use this module. And after that I plan to share and distribute the boards.

I can test it. I'm right now making some more tests to check if it's stable. In terms of hardware and software.

[2020-11-10 07:58] tkranz commented on #144
have testet the branch and it works fine, only thing i couldn't find is how to set the i2c address.

here my configuration:

`
sensor_modules:
  - name: ads1115_sensor
    module: ads1115

sensor_inputs:
  - name: ads1115_voltage0
    module: ads1115_sensor
    interval: 20  # measurement every 20sec
    channel: CH0 # measure on CH0 of ADS1115

  - name: ads1115_voltage1
    module: ads1115_senso

[2020-11-10 21:47] a-x- opened #147 "Why readme don’t include discovery config description any more?"
Also I remember, pi-mqtt-gpio config had something like home assistant [device classes](https://www.home-assistant.io/integrations/binary_sensor/), but I cannot find them now

[2020-11-11 10:17] #144 closed, assigned to nobody

[2020-11-11 10:29] BenjiU commented on #144
I reopen it for i2c address selection, until the pullrequest is done...
Are your measured values plausible?

[2020-11-11 10:34] tkranz commented on #144
![image](https://user-images.githubusercontent.com/6984823/98801087-95ba7180-2411-11eb-8fac-9a88d30612a9.png)

ok, yes i have 4 capacitive humidity sensor connected ! looks fine so far.

[2020-11-12 02:23] jjarokergc commented on #142
@g8ry : are you running raspbian OS?  The chmod fix you used suggests a permission issue.  GPIO access used to require root privileges on Raspbian but I think that is no longer the case.

My environment is a RPi4 8GB with Ubuntu 20.04 and I encounter the "Not Running on Pi" error too.  I also encounter the runtime error, "Failed to add edge detection" when I attempt to use "interrupt_payload: "tri

[2020-11-12 05:49] #142 closed, assigned to nobody

[2020-11-12 06:07] g8ry commented on #142
@jjarokergc
I'm running Ubuntu 20.10 on a 2GB RPi4
I'll take a look at that later. Thanks 👍

[2020-11-12 19:13] aerodolphin commented on #53
I made some tests with 32 inputs and outputs at the same time and it's working well. Only getting some delays. Sometime it is more than 20 seconds. The interrupts will resolve that issue.

[2020-11-12 19:24] BenjiU commented on #53
Maybe i'll have a look at the interrupts this weekend.

[2020-11-12 20:52] aerodolphin commented on #53
Good to now. Thanks ;)

On Thu, Nov 12, 2020 at 7:25 PM Benji <notifications@github.com> wrote:

[2020-11-13 08:17] mr2c12 commented on #125
There is maybe an error here:

[code]

Payload value is always the "on_payload" (as per my configuration).
Should it check that the "initial_setting" is "high" in the last line of code above?
Something like:

[code]

?

I also took a look at raspberrypi module, and in setup_pin you'll find:
`
initial = {None: -1, "low": 0, "high": 1}[pin_config.get("initial")]
`
So probably make sense.

[2020-11-13 21:09] mr2c12 commented on #125
I can confirm that the solution above works!

[2020-11-15 19:35] jjarokergc commented on #53
@BenjiU: Thank you for developing this module.

I assembled a prototype board to test it using three MCP23017 chips wired into 6 outputs and 6 inputs.  The testing used an RPI4B 8GB running Ubuntu 20.04  I also confirm that these 12 I/Os can be controlled by homeassitant over mqtt.

There is an up-to 2 second lag when the six inputs are switched.  This was configured as 2 inputs per chip.  Using 3

[2020-11-15 20:49] BenjiU commented on #53
Hi, thanks for your feedback. I haven't had time to do it this weekend, but I thought a lot about it. One problem would be the "configuration" of the interrupt pin: currently the modules don't know each other. So I don't want to add the RaspberryPI into the MCP23017 module for interrupt handler. It should be some generic method.

For the yaml two solutions came to my mind.

1) The interrupt config

[2020-11-28 11:00] aerodolphin commented on #53
Hi @BenjiU,

Any news about the interrupts?

[2020-11-30 13:20] BenjiU commented on #53
Hi,

not now. We are getting new windows, so I'm busy :-) Also nobody responded to my configure examples above, what would be better...

[2020-11-30 14:19] aerodolphin commented on #53
Hi,

No problem. I can wait. I'm developing another things at the same time.

Regarding to your question, In my opinion, It's better to have the interrupt configuration in the input section.

[2020-11-30 15:49] flyte commented on #141
Cool, thanks @BenjiU

The async version will drop support for Python 2, so that's fine.

Quitting async programs is considerably more complicated than synchronous ones, unfortunately. I'll have to look into that again.

I think I added the hbmqtt requirement to the Pipfile and the requirements.txt is out of date.

[2020-11-30 16:04] flyte commented on #53
Ah, interrupts across modules! I've not considered that before..

Each input pin is uniquely named, so what do you think about something like this?

[code]

This seems a little more configurable, if for some reason we don't want the interrupt to cause a poll of _all_ of the MCP23017's inputs.

[2020-12-09 10:31] tomilein85 opened #148 "Reading multiple PCF8574 on one bus leads to slow reactions to changes"
If I am only using one PCF8574 on the bus, the pi-mqtt-gpio is working great. Looking at it with the logic analyzer, it is reading the data twice (with a delay of 0.1mSec) each 10mSec from the PCF8574 and reacts to any button change I make (using it with push buttons).
Strangly it is also in this configuration reading the bus sometimes only once (which i would expect or twice with no delay).

As s

[2020-12-09 11:49] BenjiU commented on #148
Yes, this looks really interesting :-) May you attache the logs from pi_mqtt_gpio? If it really does that confusing reading or maybe the smbus lib does something strange?

It noticed, there is a smbus2 lib for python. Maybe we test it with the new lib in pfc module?

[2020-12-09 12:05] BenjiU commented on #148
Or we use this one: https://pypi.org/project/pcf8574-io/
As you're able to record i2c bus signals, I think you may change the python modules for testing or do you need assistance?

[2020-12-09 17:06] tomilein85 commented on #148
Will try both on friday/saturday and post back. I am not a pyhton genius, but I hope I can figure it out how to do what I want from it.

[2020-12-13 15:07] tomilein85 commented on #148
So, I have tried it with the pcf8574-io pyhton thing (only one bus, need to extend the pcf8574 also to a second bus). But what I see is, that for each input, the tool is sending a own request towards the pcf8574, so if I configure 4 pins on a pcf8754, it will send out 8 requests (and will use 40msec to do so). Instead of using only one request to get out all bits of one request.
[1bus_3dev_pcf_io.

[2020-12-17 12:46] BenjiU commented on #148
Okay, thanks for your effort. The pcf8574 libs (all of them :-)) don't store the register intern and provide all request for pins inside. This would be an optimization, I also thought about: read the i2c register once, and use the information for all pins/inputs, that are "updated" within e.g. 20ms. But this is a different point, I think.

May you help me understand your captures? 0x79 (should be

[2020-12-17 12:55] BenjiU commented on #53
I don't think, the polling of inputs, after a input occured, is a good solution. Following situation: two inputs on mcp23017 chips are configured as interrupt inputs. The int pin is connected to rapi input. If a interrupt occurs, you would read the both inputs via i2c, but how do you elevate, which pin generated the interrupt? Maybe it's just a short spike, that's already gone, when you read the i

[2020-12-17 18:31] jjarokergc commented on #53
Here is an example of my home automation/security system that I am integrating that uses four MCP23017 chips.  I hand-soldered these onto a breadboard and interfaced about 16 hardwired sensors.  It is a work-in-progress, but from testing and observation it appears that a "bank-based polling on interrupt" strategy would be optimal.

The MCP23017 has two interrupts (A and B) that signal changes on a

[2020-12-19 04:25] tomilein85 commented on #148
0x79 is hex which includes the read bit, a bit stupid the logic analyzer in this setup. So in the analyzer 0x79 ==> 0x3c as real address.
Could you please point me at the location of the detailed log files?
From what I understand, there would be the need to cache the read or at least change the way py_mqtt_gpio works. Currently it will poll each pin a first time and then wait 10msec, If it would p

[2020-12-19 20:43] aerodolphin commented on #53
I agree with you. We only need to poll the bank where the interrupt occurred. And we don't need to know winch input was.

For sure we will need this part of interrupts working. Because the intend is to used in wired smart homes with a lot of sensors.

Very nice integration @jjarokergc.

[2020-12-19 20:46] aerodolphin commented on #53
@jjarokergc Can you share a simple schematic of the main components of your hardware?

[2020-12-27 19:01] tomilein85 commented on #148
I have changed the code to no longer read the data in a serial way (it is still using pin mode instead of port mode) and a test at the house worked (the sleep between data reads is dependent on the last read time for a pin, in the default implementation it is always 10mSecs). But now I saw, flyte has actually a pcf library which is using the port mode instead of the pin mode (a read of 8 pins is c

[2020-12-28 16:09] tomilein85 commented on #148
I have now tried to push the changes back, so i will close the issue here.
I decided not to go to the port reads instead of pin reads, since this would mess up a lot in the code and could also make troubles with 16bit expanders, which I do not have to verify them.

[2020-12-28 16:09] #148 closed, assigned to nobody

[2021-01-02 17:14] Kosh42 commented on #82
Fix this in home assistant. Under -platform: mqtt in configuration.yaml:
`  - platform: mqtt`
`    state_topic: "tele/RFBridge/RESULT"`
`    name: "Double Switch Left"`
`    value_template: "{{value_json.RfReceived.Data}}"`
`    payload_on: "A23092"`
`    payload_off: "A23092off"`
`    qos: 1`
`    off_delay: 2`

[2021-01-10 17:29] flyte commented on #147
I've had a search through the whole commit history and not found any information about discovery in the readme. I suppose it just never got written.

We don't, and never have had any device classes, and I can't really think what you have seen that might have been similar I'm afraid. What do you think would be the use case of having device classes on this project?

[2021-01-11 09:16] w4tsn opened #151 "Broken in at least python 3.9"
`import fractions from gcd` was deprecated in python 3.6 and doesn't work in python 3.9 anymore.

The fix is to `import math` and exchange `gcd` by `math.gcd`. There are only two ocurences in server.py. I don't know how to incomporate this into the project without breaking it for older python installations though.